@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

main {
    flex: 1 1 auto;
}
.navbar__logo {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    color: #333333;
}
.navbar__container {
    width: 1440px;
    display: flex;
    margin-left: 420px;
}
.button {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #219653;
    text-decoration: none;
}

.login-container {
    display: flex;
    height: 80px;
    width: 250px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

.navbar__logo:hover {
    color: #219653;
}

.arrow-back {
    display: block;
    margin-left: 300px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    word-spacing: 2px;
}

.cards {
    width: 1320px;
    height: 415px;
    display: flex;
    margin-left: 300px;
    margin-top: 130px;
    gap: 30px;
}

.card__about {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__confirm-data {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__about--title {
    width: 246px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 36px;
    color: #333333;
}

.card__about--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-data--title {
    width: 586px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 24px;
    color: #333333;
}

.card__confirm-data--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-button {
    width: 240px;
    height: 56px;
    cursor: pointer;
    border: 1px solid;
    background-color: black;
    color: #219653;
    margin-top: 25px;
}

.card__confirm-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer {
    margin-left: 250px;
    display: flex;
    width: 1440px;
    height: 173px;
    position: absolute;
    background-color: rgba(242, 242, 242, 1);
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}

.footer--data {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 48px;
    display:flex;
    gap:45px;
}