.arrow-back {
    display: block;
    margin-left: 300px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    word-spacing: 2px;
}

.cards {
    width: 1320px;
    height: 415px;
    display: flex;
    margin-left: 300px;
    margin-top: 130px;
    gap: 30px;
}

.card__about {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__confirm-data {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__about--title {
    width: 246px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 36px;
    color: #333333;
}

.card__about--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-data--title {
    width: 586px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 24px;
    color: #333333;
}

.card__confirm-data--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-button {
    width: 240px;
    height: 56px;
    cursor: pointer;
    border: 1px solid;
    background-color: black;
    color: #219653;
    margin-top: 25px;
}

.card__confirm-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}