.cards {
    margin: 100px 0 0 375px;
}

.card__create {
    color: #333333FF;
    height: auto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-left: 320px;
}

.application {
    margin-left: 40px;
    font-family: Inter;
    font-style: normal;
}


.application--btn {
    color: white;
    width: 425px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-weight: 400;
    line-height: 57px;
    justify-content: center;
    background-color: #333333FF;
    margin-top: 60px;
}

.job-types {
    color: #828282FF;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.application--form {
    padding-top: 100px;
    margin-bottom: 100px;
}

.application--form__h3 {
    font-size: 20px;
    color: #000000;
    margin: 10px 0 30px 0;
}

.application--form__data-input {
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    color: #828282FF;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    background: white;
}

.application--form--textarea {
    margin-bottom: 30px;
}

.application--form--textarea__text {
    width: 500px;
    height: 100px;
    padding-top: 20px;
}

.common-row input[type="file"] {
    display: none;
}

.common-row input[type="file"] + label {
    display: block;
    padding: 5px 10px;
    width: 250px;
    height: 42px;
    margin-top: 10px;
    font-size: 20px;
}

.application--form__dimensions {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.application--form--input-group__house {
    width: 144px;
    height: 50px;
    background: #fff;
    padding: 10px;
    border-radius: 11px;
    width: 200px;
}

.application--form--input-group {
    height: 20px;
    position: relative;
    display: flex;
}

.house_label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #fff;
    padding: 0 5px;
  }

.building_label {
    position: absolute;
    top: -10px;
    left: 220px;
    background: #fff;
    padding: 0 5px;
}

.custom-check{
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-row-gap: 20px;
    grid-column-gap: 110px;
}

.user-data {
    display:grid;
    /* width:620px; */
    grid-template-columns: repeat(2, 300px);
    grid-column-gap: 140px;

}