@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    max-width: 1200px;
}

.navbar__logo {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    color: #333333;
}

.navbar__container {
    width: 1440px;
    display: flex;
    margin-left: 420px;
}

.button {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #219653;
    text-decoration: none;
}

.login-container {
    display: flex;
    height: 80px;
    width: 250px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

.navbar__logo:hover {
    color: #219653;
}

.title-h1 {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333333FF;
    width: 300px;
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin-left: 700px;
}

.btn {
    color: white;
    width: 425px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 57px;
    border-color: transparent;
    justify-content: center;
    background-color: #333333FF;
    margin-bottom: 50px;
}

.data-input {
    color: #828282FF;
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.form-view {
    margin-left: 250px;
    padding-top: 100px;
}

.aaaa {
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
}

.data-title {
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-body {
    width: 320px;
    padding-left: 2px;
}

.textarea-input {
    margin-top: 20px;
}

.textarea-input-text {
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}





