.arrow-back {
    display: block;
    margin-left: 300px;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    word-spacing: 2px;
    color: #219653
}
.company__info{
    display: flex;
}
.company__data1 {
    width: 350px;
    height: 400px;
    display: block;  
    margin-left: 350px;  
    margin-top: 70px;
}

.company__data--rating {
    display: block;
    width: 69px;
    height: 69px;
    border: 1px solid #d1cece;
    border-radius: 50%;
    text-align: center;
    background: #F2F2F2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 57px;
    color: #333333;
    padding-top: 5px;
    margin-left: 60px;
}

.company__address {
    display: block;
    margin-top: 10px;;
}
.rating--title {
    display: block;
    margin-left: 65px;
    margin-top: 10px;
}
.stars {
    display: flex;
    column-gap: 4px;
    margin-top: 4px;
    margin-left: 45px;
}

.company__data-bureaucracy {
    display: block;
    margin-top: 32px;
    margin-left: 5px;
    word-spacing: 15px;
}

.company__data-bureaucracy-data {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 45px;
    border: 1px solid #d1cece;
    border-radius: 50%;
    color: #828282;
    background-color: #B9F9D4;

}

.button__nopris {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50px;
    background-color: transparent;
    margin-top: 16px;
}

.button__nopris--text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
}
.company__about {
    margin-top: 70px;
    margin-left: 20px;
}
.company__about--data {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    width: 721px;
}
.legal_data {
    display: flex;
}
.legal_data__company {
    display: block;
    position: absolute;
    margin-top: 20px;
}

.legal_data--info {
    display: flex;
    gap: 30px;
}

.legal_data--director {
    display: block;
    margin-top: 35px;
}

.legal_data__sro {
    margin-left: 420px;
}

.company__data--text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #333333;
}

.company__data--text-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #828282;
}

.user__data {
    display: flex;
    justify-content: space-between;
}

.user__data--legal {
    display: block;
}

.employees {
    display: flex;
    flex-direction: column;
}
