.head-menu {
    margin-top: 125px;
    margin-left: 300px;
    align-self: auto;

}

.text-menu {
    color: #219653;
    font-stretch: normal;
    font-size: 18px;
    font-style: Semi Bold;
    font-family: Inter;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
}

.select-menu {
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    color: #828282FF;
}

.aa {
    color: #828282FF;
    margin-left: 5px;
    width: 380px;
    height: 60px;
}

.frame-text16 {
    color: #828282FF;
    height: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
    width: 400px;
}

.frame-frame35 {
    width: 375px;
    display: flex;
    /*padding: 21px 19px;*/
    padding: .75rem 1rem;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(189, 189, 189, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #E0E0E0FF;
}

.frame-frame25 {
    width: 375px;
    display: flex;
    /*padding: 21px 19px;*/
    padding: .75rem 1rem;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(189, 189, 189, 1);
    border-style: solid;
    border-width: 1px;
}

.form-data {
    margin-bottom: 200px;
}

.btn-send-ap {
    color: white;
    width: 375px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 57px;
    border-color: transparent;
    justify-content: center;
    background-color: #333333FF;
    margin-top: 50px;
}

.address-name {
    margin-top: 1112px;
}

.delimiter {
    padding-left: 80px;
}

.modal-content {
    text-align: center;
}

.modal-body label {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.modal-body input {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.modal-body select {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.hidden-field {
    display: none;
}

.arrow-employee:hover {
  cursor: pointer;
}

.arrow-branches:hover {
  cursor: pointer;
}

.arrow-license:hover {
  cursor: pointer;
}

.arrow-site:hover {
  cursor: pointer;
}

.arrow-contact_phone {
    cursor: pointer;
}

.arrow-contact_email {
    cursor: pointer;
}

.arrow-contact_url {
    cursor: pointer;
}

.remove-work {
    cursor: pointer;
}

.add-license-link {
    margin-top: -7px;
    margin-left: 33px;
}
