@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    max-width: 1200px;
}

.data {
    margin-left: 180px;
}

.navbar__logo {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    color: #333333;
}

.navbar__container {
    width: 1440px;
    display: flex;
    margin-left: 420px;
}

.button {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #219653;
    text-decoration: none;
}

.login-container {
    display: flex;
    height: 80px;
    width: 250px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

.navbar__logo:hover {
    color: #219653;
}

.head-menu {
    margin-top: 125px;
    margin-left: 300px;
    align-self: auto;

}

.text-menu {
    color: #219653;
    font-stretch: normal;
    font-size: 18px;
    font-style: Semi Bold;
    font-family: Inter;
    font-weight: 700;
    font-stretch: normal;
    text-decoration: none;
}

.select-menu {
    font-size: 14px;
    align-self: auto;
    font-style: Regular;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    color: #828282FF;
}

.aa {
    color: #828282FF;
    margin-left: 5px;
    width: 380px;
    height: 60px;
}

.frame-text16 {
    color: #828282FF;
    height: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 10px;
    text-decoration: none;
    width: 400px;
}

.frame-frame35 {
    width: 375px;
    display: flex;
    /*padding: 21px 19px;*/
    padding: .75rem 1rem;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(189, 189, 189, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #E0E0E0FF;
}

.frame-frame25 {
    width: 375px;
    display: flex;
    /*padding: 21px 19px;*/
    padding: .75rem 1rem;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(189, 189, 189, 1);
    border-style: solid;
    border-width: 1px;
}

.form-data {
    margin-left: 280px;
    margin-bottom: 200px;
}

.btn-send-ap {
    color: white;
    width: 375px;
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 57px;
    border-color: transparent;
    justify-content: center;
    background-color: #333333FF;
    margin-top: 50px;
}

.address-name {
    margin-top: 1112px;
}

.delimiter {
    padding-left: 80px;
}

.modal-content {
    text-align: center;
}

.modal-body label {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.modal-body input {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
    text-align: left;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.hidden-field {
    display: none;
}

.arrow:hover {
  cursor: pointer;
}