.region-area {
    position: absolute;
    width: 1320px;
    height: 415px;
    background-color: #F2F2F2;
    margin-left: 300px;
    margin-top: 20px;
}

.region-area__text {
    width: 870px;
    height: 96px;
    margin: 64px 397px 261px 53px;
}

.region-area__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 48px;
}

.region-area__select-region {
    width: 578px;
    height: 40px;
    gap: 17px;
    display: flex;
    margin: 25px 1087px 160px 53px;
    align-items: baseline
}

.select-region__text--button {
    background-color: black;
    border-radius: 60px;
    color: #219653;
    font-family: 'Inter';
    font-style: normal;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
}

.select-region__text--button1 {
    /* TODO нейминг блять!  */
    position: absolute;
    background-color: black;
    border-radius: 60px;
    text-align: center;
    width: 280px;
    height: 40px;
    padding-top: 8px;
    cursor: pointer;
}

.select-region__text--button1:active, .select-region__text--button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search-area {
    margin: -143px 93px 933px 49px;
    display: flex;
}

.search {
    width: 1132px;
    height: 80px;
    padding-left: 43px;
    border: 1px solid lightgray;
}

.search-form {
    position: relative;
}

.search-button {
    position: absolute;
    top: 1px;
    width: 240px;
    right: 1px;
    height: 78px;
    border: 1px solid;
    background-color: black;
}

.search-button--text {
    text-transform: uppercase;
    color: #219653;
    font-family: 'Inter';
    font-style: normal;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.cards {
    width: 1320px;
    height: 415px;
    display: flex;
    margin-left: 300px;
    margin-top: 500px;
    gap: 30px;
}

.card__about {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__confirm-data {
    border: 1px solid black;
    width: 645px;
    height: 439px;
}

.card__about--title {
    width: 246px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 36px;
    color: #333333;
}

.card__about--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-data--title {
    width: 586px;
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 48px;
    margin: 39px 24px;
    color: #333333;
}

.card__confirm-data--text {
    width: 586px;
    height: 299px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 31px 24px 39px 35px;
}

.card__confirm-button {
    width: 240px;
    height: 56px;
    cursor: pointer;
    border: 1px solid;
    background-color: black;
    color: #219653;
    margin-top: 25px;
}

.card__confirm-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 48px;
    display: flex;
    gap: 45px;
}

input {
    background-image: url(https://img.icons8.com/ios/30/null/search--v1.png);
    background-repeat: no-repeat;
    background-position: 12px;
}