.menu {
    margin-left: 450px;
    font-family: Inter;
}

.menu--btn-group {
    margin: 100px 0 50px 20px;
}

.menu--btn-group__a {
    color: #219653;
    font-stretch: normal;
    font-size: 18px;
    font-style: Semi Bold;
    text-decoration: none;
    margin-right: 20px;
}

.cards {
    background: #F2F2F2FF;
}

.column {
    margin-bottom: 60px;
}

.row {
    font-style: Regular;
    width: 935px;
    font-size: 16px;
    margin: 40px 0 60px 0;
}

.rates-ratings__p {
    color: #828282FF;
    font-stretch: normal;
}

.btn-send-ap {
    color: white;
    width: 375px;
    height: auto;
    text-align: center;
    font-weight: 400;
    line-height: 57px;
    border-color: transparent;
    justify-content: center;
    background-color: #333333FF;
    margin-top: 50px;
}

.rates-ratings__h3 {
    font-size: 23px;
}

.rates-ratings__date {
    color: #0a0a0a;
}

.rates-ratings__rate {
    font-size: 33px;
    font-weight: 600;
    padding-left: 210px;
}

.plus-rating {
    font-style: Regular;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    width: 900px;
    margin: 0 0 100px 15px;
}

.plus-rating__head {
    text-align: center;
    background: #F2F2F2FF;
    align-self: auto;
    line-height: 57px;
    font-stretch: normal;
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 550;
}

.plus-rating__date {
    color: #0a0a0a;
}

.plus-rating__download {
    color: #828282FF;
    font-size: 20px;
}

.plus-rating__before {
    color: #828282FF;
    font-size: 14px;
    align-self: auto;
}

.plus-rating__rat {
    color: #219653FF;
    font-size: 12px;
    align-self: auto;
}

.common-row input[type="file"] {
    display: none;
}

.common-row input[type="file"] + label {
    display: block;
    background: #F2F2F2FF;
    border-radius: 100%;
    height: 90px;
    margin: 40px 80px 0 80px;
}

.plus-rating__down {
    font-size: 14px;
    align-self: auto;
    text-decoration: none;
    margin-bottom: 30px;
}

.plus-rating__img {
    margin-top: 25px;
}
