.region-area {
    position: absolute;
    width: 1320px;
    height: 415px;
    background-color: #F2F2F2;
    margin: 150px 0 0 300px;
}

.region-area__text {
    width: 870px;
    height: 96px;
    margin: 64px 397px 261px 53px;
}

.region-area__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 48px;
}

.region-area__select-region {
    width: 578px;
    height: 40px;
    gap: 17px;
    display: flex;
    margin: 25px 1087px 160px 53px;
    align-items: baseline
}

.region-area__selected-region {
    margin-top: 40px;
}

.another-region {
    word-spacing: -1.5px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

.border-region {
    border-radius: 100px;
    background: #D9D9D9;
    padding: 10px 30px;

    margin-left: 10px;
    text-decoration: none;
}

.search-area {
    margin: 34px 93px 933px -7px;
    display: flex;
}

.search {
    width: 1132px;
    height: 80px;
    padding-left: 43px;
    border: 1px solid lightgray;
}

.search-form {
    position: relative;
}

.search-button {
    position: absolute;
    top: 1px;
    width: 240px;
    right: 1px;
    height: 78px;
    border: 1px solid;
    text-transform: uppercase;
    background-color: black;
}

.search-button--text {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.rates-column {
    margin: 550px 0 100px 300px;
    font-family: Inter;
    font-style: Regular;
    align-self: auto;
}

.rates-column--home__btn {
    color: #219653FF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    background: white;
}

.rates-column--cols {
    margin-left: 100px;
}

.rates-column--title {
    text-align: center;
    height: auto;
}

.rates-column--title__h {
    margin: 40px 0 0 300px;
    font-weight: 600;
}


.rates-column__card-header {
    text-align: center;
    background: #F2F2F2FF;
    height: auto;
    line-height: 60px;
    margin-bottom: 20px;
    font-size: 23px;
}

.rates-column__card-text {
    color: #4F4F4F;
}