@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.x-mark {
    top: 10px;
    position: absolute;
    right: 10px;
}

.city__search-area {
    display: none;
    position: absolute;
    opacity: 0;
    transition: 300ms all;

}
.city__search {
    width: 840px;
    height: 60px;
    padding-left: 43px;
    border: 1px solid lightgray;
}
  
.city__search-form {
    position: relative;
}

.city__search-button {
    position: absolute;
    top: 1px;
    width: 240px;
    right: 1px;
    height: 60px;
    border: 1px solid;
    text-transform: uppercase;
    background-color: black;
    color: #219653;
}

.input-select-city {
    background-image: url(https://img.icons8.com/ios/30/null/search--v1.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.search-button--text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    letter-spacing: 1px;
}