:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-color-default-blue: rgba(45, 156, 219, 1);
    --dl-color-default-grey: rgba(163, 160, 160, 1);
    --dl-color-default-text: rgba(79, 79, 79, 1);
    --dl-size-size-maxwidth: 1400px;
    --dl-color-default-blue1: rgba(45, 156, 219, 1);
    --dl-color-default-blue2: rgba(45, 156, 219, 1);
    --dl-color-default-blue3: rgba(45, 156, 219, 1);
    --dl-color-default-blue4: rgba(45, 156, 219, 1);
    --dl-color-default-blue5: rgba(45, 156, 219, 1);
    --dl-color-default-blue6: rgba(45, 156, 219, 1);
    --dl-color-default-blue7: rgba(45, 156, 219, 1);
    --dl-color-default-blue8: rgba(45, 156, 219, 1);
    --dl-color-default-blue9: rgba(45, 156, 219, 1);
    --dl-color-default-gray1: rgba(51, 51, 51, 1);
    --dl-color-default-gray2: rgba(79, 79, 79, 1);
    --dl-color-default-gray3: rgba(130, 130, 130, 1);
    --dl-color-default-gray5: rgba(224, 224, 224, 1);
    --dl-color-default-gray6: rgba(242, 242, 242, 1);
    --dl-color-default-grey1: rgba(163, 160, 160, 1);
    --dl-color-default-grey2: rgba(163, 160, 160, 1);
    --dl-color-default-grey3: rgba(163, 160, 160, 1);
    --dl-color-default-grey4: rgba(163, 160, 160, 1);
    --dl-color-default-grey5: rgba(163, 160, 160, 1);
    --dl-color-default-grey6: rgba(163, 160, 160, 1);
    --dl-color-default-grey7: rgba(163, 160, 160, 1);
    --dl-color-default-grey8: rgba(163, 160, 160, 1);
    --dl-color-default-grey9: rgba(163, 160, 160, 1);
    --dl-color-default-text1: rgba(79, 79, 79, 1);
    --dl-color-default-text2: rgba(79, 79, 79, 1);
    --dl-color-default-text3: rgba(79, 79, 79, 1);
    --dl-color-default-text4: rgba(79, 79, 79, 1);
    --dl-color-default-text5: rgba(79, 79, 79, 1);
    --dl-color-default-text6: rgba(79, 79, 79, 1);
    --dl-color-default-text7: rgba(79, 79, 79, 1);
    --dl-color-default-text8: rgba(79, 79, 79, 1);
    --dl-color-default-text9: rgba(79, 79, 79, 1);
    --dl-color-default-white: rgba(255, 255, 255, 1);
    --dl-radius-radius-round: 50%;
    --dl-color-default-blue10: rgba(45, 156, 219, 1);
    --dl-color-default-blue11: rgba(45, 156, 219, 1);
    --dl-color-default-blue12: rgba(45, 156, 219, 1);
    --dl-color-default-blue13: rgba(45, 156, 219, 1);
    --dl-color-default-gray11: rgba(51, 51, 51, 1);
    --dl-color-default-gray12: rgba(51, 51, 51, 1);
    --dl-color-default-gray13: rgba(51, 51, 51, 1);
    --dl-color-default-gray14: rgba(51, 51, 51, 1);
    --dl-color-default-gray15: rgba(51, 51, 51, 1);
    --dl-color-default-gray16: rgba(51, 51, 51, 1);
    --dl-color-default-gray17: rgba(51, 51, 51, 1);
    --dl-color-default-gray18: rgba(51, 51, 51, 1);
    --dl-color-default-gray19: rgba(51, 51, 51, 1);
    --dl-color-default-gray21: rgba(79, 79, 79, 1);
    --dl-color-default-gray22: rgba(79, 79, 79, 1);
    --dl-color-default-gray23: rgba(79, 79, 79, 1);
    --dl-color-default-gray24: rgba(79, 79, 79, 1);
    --dl-color-default-gray25: rgba(79, 79, 79, 1);
    --dl-color-default-gray26: rgba(79, 79, 79, 1);
    --dl-color-default-gray27: rgba(79, 79, 79, 1);
    --dl-color-default-gray28: rgba(79, 79, 79, 1);
    --dl-color-default-gray31: rgba(130, 130, 130, 1);
    --dl-color-default-gray32: rgba(130, 130, 130, 1);
    --dl-color-default-gray33: rgba(130, 130, 130, 1);
    --dl-color-default-gray34: rgba(130, 130, 130, 1);
    --dl-color-default-gray35: rgba(130, 130, 130, 1);
    --dl-color-default-gray36: rgba(130, 130, 130, 1);
    --dl-color-default-gray37: rgba(130, 130, 130, 1);
    --dl-color-default-gray38: rgba(130, 130, 130, 1);
    --dl-color-default-gray61: rgba(242, 242, 242, 1);
    --dl-color-default-gray62: rgba(242, 242, 242, 1);
    --dl-color-default-gray63: rgba(242, 242, 242, 1);
    --dl-color-default-gray64: rgba(242, 242, 242, 1);
    --dl-color-default-gray65: rgba(242, 242, 242, 1);
    --dl-color-default-gray66: rgba(242, 242, 242, 1);
    --dl-color-default-gray67: rgba(242, 242, 242, 1);
    --dl-color-default-gray68: rgba(242, 242, 242, 1);
    --dl-color-default-green1: rgba(33, 150, 83, 1);
    --dl-color-default-grey10: rgba(163, 160, 160, 1);
    --dl-color-default-grey11: rgba(163, 160, 160, 1);
    --dl-color-default-grey12: rgba(163, 160, 160, 1);
    --dl-color-default-grey13: rgba(163, 160, 160, 1);
    --dl-color-default-text10: rgba(79, 79, 79, 1);
    --dl-color-default-text11: rgba(79, 79, 79, 1);
    --dl-color-default-text12: rgba(79, 79, 79, 1);
    --dl-color-default-text13: rgba(79, 79, 79, 1);
    --dl-color-default-white1: rgba(255, 255, 255, 1);
    --dl-color-default-white2: rgba(255, 255, 255, 1);
    --dl-color-default-white3: rgba(255, 255, 255, 1);
    --dl-color-default-white4: rgba(255, 255, 255, 1);
    --dl-color-default-white5: rgba(255, 255, 255, 1);
    --dl-color-default-white6: rgba(255, 255, 255, 1);
    --dl-color-default-white7: rgba(255, 255, 255, 1);
    --dl-color-default-white8: rgba(255, 255, 255, 1);
    --dl-color-default-white9: rgba(255, 255, 255, 1);
    --dl-color-default-yellow: rgba(255, 183, 0, 1);
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-color-default-green11: rgba(33, 150, 83, 1);
    --dl-color-default-green12: rgba(33, 150, 83, 1);
    --dl-color-default-green13: rgba(33, 150, 83, 1);
    --dl-color-default-green14: rgba(33, 150, 83, 1);
    --dl-color-default-green15: rgba(33, 150, 83, 1);
    --dl-color-default-green16: rgba(33, 150, 83, 1);
    --dl-color-default-green17: rgba(33, 150, 83, 1);
    --dl-color-default-green18: rgba(33, 150, 83, 1);
    --dl-color-default-green19: rgba(33, 150, 83, 1);
    --dl-color-default-white10: rgba(255, 255, 255, 1);
    --dl-color-default-white11: rgba(255, 255, 255, 1);
    --dl-color-default-white12: rgba(255, 255, 255, 1);
    --dl-color-default-white13: rgba(255, 255, 255, 1);
    --dl-color-default-yellow1: rgba(255, 183, 0, 1);
    --dl-color-default-yellow2: rgba(255, 183, 0, 1);
    --dl-color-default-yellow3: rgba(255, 183, 0, 1);
    --dl-color-default-yellow4: rgba(255, 183, 0, 1);
    --dl-color-default-yellow5: rgba(255, 183, 0, 1);
    --dl-color-default-yellow6: rgba(255, 183, 0, 1);
    --dl-color-default-yellow7: rgba(255, 183, 0, 1);
    --dl-color-default-yellow8: rgba(255, 183, 0, 1);
    --dl-color-default-yellow9: rgba(255, 183, 0, 1);
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-color-default-green110: rgba(33, 150, 83, 1);
    --dl-color-default-green111: rgba(33, 150, 83, 1);
    --dl-color-default-navyblue: rgba(28, 92, 164, 1);
    --dl-color-default-yellow10: rgba(255, 183, 0, 1);
    --dl-color-default-yellow11: rgba(255, 183, 0, 1);
    --dl-color-default-yellow12: rgba(255, 183, 0, 1);
    --dl-color-default-yellow13: rgba(255, 183, 0, 1);
    --dl-space-space-threeunits: 48px;
    --dl-color-default-bluelight: rgba(218, 230, 255, 1);
    --dl-color-default-navyblue1: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue2: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue3: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue4: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue5: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue6: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue7: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue8: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue9: rgba(28, 92, 164, 1);
    --dl-color-default-background: rgba(246, 245, 244, 1);
    --dl-color-default-bluelight1: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight2: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight3: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight4: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight5: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight6: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight7: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight8: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight9: rgba(218, 230, 255, 1);
    --dl-color-default-greyborder: rgba(242, 242, 242, 1);
    --dl-color-default-navyblue10: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue11: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue12: rgba(28, 92, 164, 1);
    --dl-color-default-navyblue13: rgba(28, 92, 164, 1);
    --dl-color-default-background1: rgba(246, 245, 244, 1);
    --dl-color-default-background2: rgba(246, 245, 244, 1);
    --dl-color-default-background3: rgba(246, 245, 244, 1);
    --dl-color-default-background4: rgba(246, 245, 244, 1);
    --dl-color-default-background5: rgba(246, 245, 244, 1);
    --dl-color-default-background6: rgba(246, 245, 244, 1);
    --dl-color-default-background7: rgba(246, 245, 244, 1);
    --dl-color-default-background8: rgba(246, 245, 244, 1);
    --dl-color-default-background9: rgba(246, 245, 244, 1);
    --dl-color-default-bluelight10: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight11: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight12: rgba(218, 230, 255, 1);
    --dl-color-default-bluelight13: rgba(218, 230, 255, 1);
    --dl-color-default-greyborder1: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder2: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder3: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder4: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder5: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder6: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder7: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder8: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder9: rgba(242, 242, 242, 1);
    --dl-color-default-background10: rgba(246, 245, 244, 1);
    --dl-color-default-background11: rgba(246, 245, 244, 1);
    --dl-color-default-background12: rgba(246, 245, 244, 1);
    --dl-color-default-background13: rgba(246, 245, 244, 1);
    --dl-color-default-greyborder10: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder11: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder12: rgba(242, 242, 242, 1);
    --dl-color-default-greyborder13: rgba(242, 242, 242, 1);
    --dl-color-default-textsecondary: rgba(130, 130, 130, 1);
    --dl-space-space-oneandhalfunits: 24px;
    --dl-color-default-textsecondary1: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary2: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary3: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary4: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary5: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary6: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary7: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary8: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary9: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary10: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary11: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary12: rgba(130, 130, 130, 1);
    --dl-color-default-textsecondary13: rgba(130, 130, 130, 1);
}

.button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
}

.list-item {
    display: list-item;
}

.teleport-show {
    display: flex !important;
    transform: none !important;
}

.Msmall5 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall7 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H22 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner1 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mH11 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption7 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H32 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H38 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.RegularSmall8 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small7 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH23 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H211 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mH18 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH22 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.Msmall8 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH21 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Small5 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H23 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular12 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH112 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Banner12 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mH13 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mbutton10 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Small6 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Banner8 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H33 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption12 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall10 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Regular3 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Banner3 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H31 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.RegularSmall12 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Regular9 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H210 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton7 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.RegularSmall11 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H111 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton11 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H12 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption4 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mH110 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Msmall13 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Msmall {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H28 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H2 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall1 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Msmall11 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small2 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall2 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H27 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H110 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mH1 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH24 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.RegularSmall3 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mbutton6 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton1 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H14 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption11 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton3 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall7 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mbutton {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular7 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall4 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Msmall6 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall13 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small4 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H310 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H18 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mH17 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.RegularSmall5 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH213 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H13 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption8 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular6 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH26 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.RegularSmall10 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H19 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner9 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H15 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H37 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H16 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.RegularSmall9 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H34 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H26 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H35 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption6 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.RegularSmall6 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.RegularSmall1 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Regular2 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH15 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption13 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H112 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall4 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH212 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H29 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall9 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Msmall3 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Banner6 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner4 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H212 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mH12 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H39 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH111 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Small1 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small8 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mbutton4 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner2 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular4 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Banner7 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton5 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H17 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Small11 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Bigcaption1 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular5 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H11 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular11 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH113 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Banner5 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption2 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mH16 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH29 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H213 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H1 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.H312 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Regular8 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Regular1 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH210 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH19 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption5 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption3 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H24 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mH14 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H313 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mbutton13 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton8 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall2 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small10 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H36 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.H113 {
    font-size: 45px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small3 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH27 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH28 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mH2 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Bigcaption9 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Banner11 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mH211 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Banner13 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption10 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Small12 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Regular10 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H25 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton12 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Bigcaption {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Small9 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.H3 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.mbutton9 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.mbutton2 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.H21 {
    font-size: 40px;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700px;
    font-stretch: normal;
}

.Regular13 {
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Small13 {
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.Banner10 {
    font-size: 24px;
    font-style: normal;
    font-family: Inter;
    font-weight: 700px;
    font-stretch: normal;
}

.Msmall12 {
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 400px;
    font-stretch: normal;
}

.mH25 {
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.Heading {
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.H311 {
    font-size: 30px;
    font-style: normal;
    font-family: Inter;
    font-weight: 500px;
    font-stretch: normal;
}

.frame2-container {
    min-height: 100vh;
}

.frame2-frame {
    width: 100%;
    height: 680px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}

.frame2-frame29 {
    top: 219px;
    left: 195px;
    width: 863px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
}

.frame2-text {
    color: var(--dl-color-default-green1);
    width: 170px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    margin-right: 90px;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-text02 {
    color: var(--dl-color-default-green1);
    width: 325px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    margin-right: 90px;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-text04 {
    color: var(--dl-color-default-gray2);
    width: 188px;
    height: auto;
    font-size: 18px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 30px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-group7 {
    top: 313px;
    left: 195px;
    width: 510px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.frame2-group5 {
    top: 0px;
    left: 0px;
    width: 510px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.frame2-text06 {
    top: 21px;
    left: 421.9638671875px;
    color: rgba(255, 255, 255, 1);
    width: 41px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2-text08 {
    top: 17px;
    left: 17.94444465637207px;
    color: var(--dl-color-default-gray3);
    width: 74px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2-group11 {
    top: 393px;
    left: 195px;
    width: 510px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.frame2-group51 {
    top: 0px;
    left: 0px;
    width: 510px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.frame2-text10 {
    top: 21px;
    left: 421.9638671875px;
    color: rgba(255, 255, 255, 1);
    width: 41px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2-text12 {
    top: 17px;
    left: 18px;
    color: var(--dl-color-default-gray3);
    width: 182px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2-frame5 {
    top: 473px;
    left: 195px;
    width: 510px;
    height: 56px;
    display: flex;
    padding: 0 45px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: center;
    background-color: var(--dl-color-default-gray1);
}

.frame2-text14 {
    color: var(--dl-color-default-gray6);
    width: 188px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 57px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-frame46 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 115px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.frame2-rectangle36 {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 115px;
    position: absolute;
    border-color: transparent;
}

.frame2-frame6 {
    top: 29px;
    left: 1007px;
    width: 240px;
    display: flex;
    padding: 21px 94px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(51, 51, 51, 1);
    border-style: solid;
    border-width: 1px;
    justify-content: center;
}

.frame2-text16 {
    color: var(--dl-color-default-green1);
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 23px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-text18 {
    top: 43px;
    left: 60px;
    color: var(--dl-color-default-gray1);
    width: 99px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 48px;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.frame2-frame55 {
    top: 46px;
    left: 1316px;
    width: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.frame2-line12 {
    width: 64px;
    height: 0px;
    position: relative;
    margin-bottom: 15px;
}

.frame2-line13 {
    width: 64px;
    height: 0px;
    position: relative;
    margin-bottom: 15px;
}

.frame2-line14 {
    width: 64px;
    height: 0px;
    position: relative;
}
