@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    max-width: 1200px;
}

.navbar__logo {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    color: #333333;
}

.navbar__container {
    width: 1440px;
    display: flex;
    margin-left: 420px;
}

.button {
    color: black;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #219653;
    text-decoration: none;
}

.login-container {
    display: flex;
    height: 80px;
    width: 250px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}

.navbar__logo:hover {
    color: #219653;
}

.footer {
    margin-left: 250px;
    display: flex;
    width: 1440px;
    height: 173px;
    position: absolute;
    background-color: rgba(242, 242, 242, 1);
    justify-content: space-around;
    align-items: center;
    	flex: 0 0 auto;

}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.card {
    margin: 100px 0 200px 550px;
    max-width: 700px;
    max-height: 500px;
    font-family: Inter;
    font-style: Regular;

}

.card-header {
    color: #333333FF;
    height: auto;
    font-size: 30px;
    align-self: auto;
    font-style: Medium;
    font-weight: 500;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
    background-color: white;
    margin-left: 230px;
}

.form-control {
    width: 500px;
    height: 60px;
    display: flex;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-style: solid;
    border-width: 1px;
    margin-right: 0;
    border-radius: 0 0 0 0;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
}

.form-check-label {
    color: #4F4F4FFF;
    width: 183px;
    height: auto;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.form-check {
    margin-top: 15px;
    margin-left: 20px;
}

.form-check__a {
    color: #828282FF;
    width: 128px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    text-align: right;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin: 0 0 0 110px;
}

.card-btn {
    width: 500px;
    height: 56px;
    display: flex;
    padding: 0 45px;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    background-color: #333333FF;
    margin-top: 20px;
margin-left: 18px;
}

.card-btn__a {
    color: #219653FF;
    width: 400px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    text-align: center;
    font-weight: 400;
    line-height: 57px;
    font-stretch: normal;
    text-decoration: none;
}

.card-link {
    width: 500px;
    height: auto;
    font-size: 20px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-weight: 500;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 30px;
    color: #219653FF;
    margin-left: 40px;
}
.modal-dialog {
    max-width: 600px;
}
.card-header__data {
    color: #333333FF;
    height: auto;
    font-size: 25px;
    align-self: auto;
    font-style: Medium;
    font-weight: 500;
    line-height: 40px;
    font-stretch: normal;
    text-decoration: none;
    background-color: white;
    margin-left: 100px;
}

