<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>{{ branches }}</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
{% if branches.director.first %}
    <p>{{ branches.director.first.position }}</p>
    {{ branches.director.first.surname }} {{ branches.director.first.name }} {{ branches.director.first.father_name }}
{% else %}
    Директор не назначен
{% endif %}
</body>
</html>