<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./frame.css" rel="stylesheet" />

      <div class="frame-container">
        <div class="frame-frame">
          <img
            src="public/playground_assets/rectangle111427-aa8b-500h.png"
            alt="Rectangle111427"
            class="frame-rectangle11"
          />
          <img
            src="public/playground_assets/rectangle381428-oycp-200h.png"
            alt="Rectangle381428"
            class="frame-rectangle38"
          />
          <img
            src="public/playground_assets/rectangle391429-3w98-600h.png"
            alt="Rectangle391429"
            class="frame-rectangle39"
          />
          <img
            src="public/playground_assets/rectangle401430-uj-700h.png"
            alt="Rectangle401430"
            class="frame-rectangle40"
          />
          <span class="frame-text">
            <span>
              Поиск лицензированных организаций в области проектирования
            </span>
          </span>
          <div class="frame-group3">
            <img
              src="public/playground_assets/rectangle101434-it2u-200h.png"
              alt="Rectangle101434"
              class="frame-rectangle10"
            />
            <div class="frame-group2">
              <span class="frame-text002">
                <span>
                  Начните вводить ИНН, ОГРН, название орагнизации иили ФИО
                  руководителя
                </span>
              </span>
              <img
                src="public/playground_assets/vector1437-iqjl.svg"
                alt="Vector1437"
                class="frame-vector"
              />
            </div>
            <span class="frame-text004"><span>НАЙТИ</span></span>
          </div>
          <span class="frame-text006"><span>НАЙТИ</span></span>
          <div class="frame-frame4">
            <div class="frame-frame7">
              <div class="frame-group6">
                <div class="frame-group">
                  <img
                    src="public/playground_assets/vector1444-etar.svg"
                    alt="Vector1444"
                    class="frame-vector1"
                  />
                  <img
                    src="public/playground_assets/vector1445-47hc.svg"
                    alt="Vector1445"
                    class="frame-vector2"
                  />
                </div>
              </div>
              <span class="frame-text008"><span>Москва</span></span>
            </div>
            <div class="frame-frame41">
              <div class="frame-frame5">
                <span class="frame-text010">
                  <span>Выбрать другой регион</span>
                </span>
              </div>
            </div>
          </div>
          <div class="frame-frame46">
            <img
              src="public/playground_assets/rectangle36i145-o2m-200h.png"
              alt="Rectangle36I145"
              class="frame-rectangle36"
            />
            <div class="frame-frame6">
              <span class="frame-text012">
                <span>Вход для организаций</span>
              </span>
            </div>
            <span class="frame-text014"><span>ЛОГО</span></span>
            <div class="frame-frame55">
              <img
                src="public/playground_assets/line12i145-0anr.svg"
                alt="Line12I145"
                class="frame-line12"
              />
              <img
                src="public/playground_assets/line13i145-5rwi.svg"
                alt="Line13I145"
                class="frame-line13"
              />
              <img
                src="public/playground_assets/line14i145-c0z.svg"
                alt="Line14I145"
                class="frame-line14"
              />
            </div>
          </div>
          <div class="frame-frame61">
            <span class="frame-text016"><span>Создать заявку</span></span>
          </div>
          <div class="frame-frame47"><div class="frame-frame26"></div></div>
          <div class="frame-group49">
            <span class="frame-text018"><span>“Ромашка”</span></span>
            <div class="frame-group44">
              <div class="frame-group46">
                <span class="frame-text020"><span>Виды работ:</span></span>
                <span class="frame-text022">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text024"><span>Юридический адрес:</span></span>
            <span class="frame-text026">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group20">
              <img
                src="public/playground_assets/star11464-6cg.svg"
                alt="Star11464"
                class="frame-star1"
              />
              <img
                src="public/playground_assets/star21465-b7xw.svg"
                alt="Star21465"
                class="frame-star2"
              />
              <img
                src="public/playground_assets/star31466-03cj.svg"
                alt="Star31466"
                class="frame-star3"
              />
              <img
                src="public/playground_assets/star41467-vbzs.svg"
                alt="Star41467"
                class="frame-star4"
              />
              <img
                src="public/playground_assets/star51468-80i.svg"
                alt="Star51468"
                class="frame-star5"
              />
            </div>
          </div>
          <div class="frame-group50">
            <span class="frame-text028"><span>“Ромашка”</span></span>
            <div class="frame-group4401">
              <div class="frame-group4601">
                <span class="frame-text030"><span>Виды работ:</span></span>
                <span class="frame-text032">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text034"><span>Юридический адрес:</span></span>
            <span class="frame-text036">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2001">
              <img
                src="public/playground_assets/star11478-zv4.svg"
                alt="Star11478"
                class="frame-star101"
              />
              <img
                src="public/playground_assets/star21479-bgws.svg"
                alt="Star21479"
                class="frame-star201"
              />
              <img
                src="public/playground_assets/star31480-bwwl.svg"
                alt="Star31480"
                class="frame-star301"
              />
              <img
                src="public/playground_assets/star41481-t1n5.svg"
                alt="Star41481"
                class="frame-star401"
              />
              <img
                src="public/playground_assets/star51482-nvbs.svg"
                alt="Star51482"
                class="frame-star501"
              />
            </div>
          </div>
          <div class="frame-group54">
            <span class="frame-text038"><span>“Ромашка”</span></span>
            <div class="frame-group4402">
              <div class="frame-group4602">
                <span class="frame-text040"><span>Виды работ:</span></span>
                <span class="frame-text042">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text044"><span>Юридический адрес:</span></span>
            <span class="frame-text046">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2002">
              <img
                src="public/playground_assets/star11492-iyx9.svg"
                alt="Star11492"
                class="frame-star102"
              />
              <img
                src="public/playground_assets/star21493-lf3.svg"
                alt="Star21493"
                class="frame-star202"
              />
              <img
                src="public/playground_assets/star31494-yi4g.svg"
                alt="Star31494"
                class="frame-star302"
              />
              <img
                src="public/playground_assets/star41495-v8b.svg"
                alt="Star41495"
                class="frame-star402"
              />
              <img
                src="public/playground_assets/star51496-fnde.svg"
                alt="Star51496"
                class="frame-star502"
              />
            </div>
          </div>
          <div class="frame-group57">
            <span class="frame-text048"><span>“Ромашка”</span></span>
            <div class="frame-group4403">
              <div class="frame-group4603">
                <span class="frame-text050"><span>Виды работ:</span></span>
                <span class="frame-text052">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text054"><span>Юридический адрес:</span></span>
            <span class="frame-text056">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2003">
              <img
                src="public/playground_assets/star11410-mk44.svg"
                alt="Star11410"
                class="frame-star103"
              />
              <img
                src="public/playground_assets/star21410-rss.svg"
                alt="Star21410"
                class="frame-star203"
              />
              <img
                src="public/playground_assets/star31410-uhua.svg"
                alt="Star31410"
                class="frame-star303"
              />
              <img
                src="public/playground_assets/star41410-3u3b.svg"
                alt="Star41410"
                class="frame-star403"
              />
              <img
                src="public/playground_assets/star51411-oxsu.svg"
                alt="Star51411"
                class="frame-star503"
              />
            </div>
          </div>
          <div class="frame-group51">
            <span class="frame-text058"><span>“Ромашка”</span></span>
            <div class="frame-group4404">
              <div class="frame-group4604">
                <span class="frame-text060"><span>Виды работ:</span></span>
                <span class="frame-text062">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text064"><span>Юридический адрес:</span></span>
            <span class="frame-text066">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2004">
              <img
                src="public/playground_assets/star11412-rutn.svg"
                alt="Star11412"
                class="frame-star104"
              />
              <img
                src="public/playground_assets/star21412-qg8r.svg"
                alt="Star21412"
                class="frame-star204"
              />
              <img
                src="public/playground_assets/star31412-v2o.svg"
                alt="Star31412"
                class="frame-star304"
              />
              <img
                src="public/playground_assets/star41412-e70p.svg"
                alt="Star41412"
                class="frame-star404"
              />
              <img
                src="public/playground_assets/star51412-6y75.svg"
                alt="Star51412"
                class="frame-star504"
              />
            </div>
          </div>
          <div class="frame-group55">
            <span class="frame-text068"><span>“Ромашка”</span></span>
            <div class="frame-group4405">
              <div class="frame-group4605">
                <span class="frame-text070"><span>Виды работ:</span></span>
                <span class="frame-text072">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text074"><span>Юридический адрес:</span></span>
            <span class="frame-text076">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2005">
              <img
                src="public/playground_assets/star11413-rsh.svg"
                alt="Star11413"
                class="frame-star105"
              />
              <img
                src="public/playground_assets/star21413-ndy.svg"
                alt="Star21413"
                class="frame-star205"
              />
              <img
                src="public/playground_assets/star31413-cjio.svg"
                alt="Star31413"
                class="frame-star305"
              />
              <img
                src="public/playground_assets/star41413-e9xe.svg"
                alt="Star41413"
                class="frame-star405"
              />
              <img
                src="public/playground_assets/star51413-acp.svg"
                alt="Star51413"
                class="frame-star505"
              />
            </div>
          </div>
          <div class="frame-group58">
            <span class="frame-text078"><span>“Ромашка”</span></span>
            <div class="frame-group4406">
              <div class="frame-group4606">
                <span class="frame-text080"><span>Виды работ:</span></span>
                <span class="frame-text082">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text084"><span>Юридический адрес:</span></span>
            <span class="frame-text086">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2006">
              <img
                src="public/playground_assets/star11414-7dxc.svg"
                alt="Star11414"
                class="frame-star106"
              />
              <img
                src="public/playground_assets/star21414-taom.svg"
                alt="Star21414"
                class="frame-star206"
              />
              <img
                src="public/playground_assets/star31415-m4kc.svg"
                alt="Star31415"
                class="frame-star306"
              />
              <img
                src="public/playground_assets/star41415-8xf.svg"
                alt="Star41415"
                class="frame-star406"
              />
              <img
                src="public/playground_assets/star51415-oocs.svg"
                alt="Star51415"
                class="frame-star506"
              />
            </div>
          </div>
          <div class="frame-group52">
            <span class="frame-text088"><span>“Ромашка”</span></span>
            <div class="frame-group4407">
              <div class="frame-group4607">
                <span class="frame-text090"><span>Виды работ:</span></span>
                <span class="frame-text092">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text094"><span>Юридический адрес:</span></span>
            <span class="frame-text096">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2007">
              <img
                src="public/playground_assets/star11416-z7.svg"
                alt="Star11416"
                class="frame-star107"
              />
              <img
                src="public/playground_assets/star21416-6dya.svg"
                alt="Star21416"
                class="frame-star207"
              />
              <img
                src="public/playground_assets/star31416-mpze.svg"
                alt="Star31416"
                class="frame-star307"
              />
              <img
                src="public/playground_assets/star41416-1dpp.svg"
                alt="Star41416"
                class="frame-star407"
              />
              <img
                src="public/playground_assets/star51416-jcod.svg"
                alt="Star51416"
                class="frame-star507"
              />
            </div>
          </div>
          <div class="frame-group56">
            <span class="frame-text098"><span>“Ромашка”</span></span>
            <div class="frame-group4408">
              <div class="frame-group4608">
                <span class="frame-text100"><span>Виды работ:</span></span>
                <span class="frame-text102">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text104"><span>Юридический адрес:</span></span>
            <span class="frame-text106">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2008">
              <img
                src="public/playground_assets/star11417-de7p.svg"
                alt="Star11417"
                class="frame-star108"
              />
              <img
                src="public/playground_assets/star21417-kruk.svg"
                alt="Star21417"
                class="frame-star208"
              />
              <img
                src="public/playground_assets/star31417-m8wi.svg"
                alt="Star31417"
                class="frame-star308"
              />
              <img
                src="public/playground_assets/star41417-u79a.svg"
                alt="Star41417"
                class="frame-star408"
              />
              <img
                src="public/playground_assets/star51418-gpfq.svg"
                alt="Star51418"
                class="frame-star508"
              />
            </div>
          </div>
          <div class="frame-group53">
            <span class="frame-text108"><span>“Ромашка”</span></span>
            <div class="frame-group4409">
              <div class="frame-group4609">
                <span class="frame-text110"><span>Виды работ:</span></span>
                <span class="frame-text112">
                  <span>Лицензирование, строительство, монтаж</span>
                </span>
              </div>
            </div>
            <span class="frame-text114"><span>Юридический адрес:</span></span>
            <span class="frame-text116">
              <span>11111, г. Москва, Красная Площадь, д.1</span>
            </span>
            <div class="frame-group2009">
              <img
                src="public/playground_assets/star11419-9olk.svg"
                alt="Star11419"
                class="frame-star109"
              />
              <img
                src="public/playground_assets/star21419-awk.svg"
                alt="Star21419"
                class="frame-star209"
              />
              <img
                src="public/playground_assets/star31419-qh6.svg"
                alt="Star31419"
                class="frame-star309"
              />
              <img
                src="public/playground_assets/star41419-995.svg"
                alt="Star41419"
                class="frame-star409"
              />
              <img
                src="public/playground_assets/star51419-zo6j.svg"
                alt="Star51419"
                class="frame-star509"
              />
            </div>
          </div>
          <span class="frame-text118">
            <span>Лучшие компании региона</span>
          </span>
          <span class="frame-text120">
            <span>
              Ищите услуги проверенных компаний? Создайте задание и в 1 клик
              отправьте его лучшим компаниям региона. Получайте заявки и
              выбирайте лучшее предложение.
            </span>
          </span>
          <img
            src="public/playground_assets/rectangle371419-mlc-1100w.png"
            alt="Rectangle371419"
            class="frame-rectangle37"
          />
          <div class="frame-frame471">
            <div class="frame-group28">
              <span class="frame-text122"><span>ЛОГО</span></span>
            </div>
            <div class="frame-frame44">
              <div class="frame-frame441">
                <span class="frame-text124"><span>О сервисе</span></span>
              </div>
              <div class="frame-frame442">
                <span class="frame-text126">
                  <span>Как мы определяем актуальность</span>
                </span>
              </div>
              <div class="frame-frame443">
                <span class="frame-text128"><span>Источники данных</span></span>
              </div>
              <div class="frame-frame444">
                <span class="frame-text130"><span>Для организаций</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
