<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Внести данные</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href={% static 'css/enter_details_company.css' %}>

</head>
<body>
<section>
    <header>
        <div class="navbar">
            <div class="navbar__container">
                <a href="#" class="navbar-brand d-flex align-items-center navbar__logo">
                    <span>ЛОГО</span>
                </a>
                <div class="login-container">
                    <a href="#"><span class="login">Вход для организаций</span></a>
                </div>
                <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom-toggler"></span>
                </button>
            </div>
        </div>
    </header>
</section>
<section class="data">
    <div class="btn-group head-menu" role="group">
        <span><span class="mr-3"><a href='#' class="text-menu"><span>Основные данные</span></a></span></span>
        <span><span class="mr-3"><a href='#' class="text-menu"><span>Редактировать данные организации</span></a></span></span>
        <span><span class="mr-3"><a href='#' class="text-menu"><span>Настройки профиля</span></a></span></span>
    </div>
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <form class="form-data" method="post">
            {% csrf_token %}

            <div class="row mt-5">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card border border-white">
                        <div class="card-body">

                            <label for="{{ form.position.id_for_label }}" class="frame-text16">Должность
                                сотрудника</label><br/>
                            <input type="text" class="frame-frame35" name="{{ form.position.name }}" id="position"
                                   value="{{ form.position.value }}"><br/>
                            <div class="error-message">{{ form.position.errors }}</div>

                            <label for="{{ form.surname.id_for_label }}" class="frame-text16">Фамилия</label><br/>
                            <input type="text" class="frame-frame35" name="{{ form.surname.name }}" id="city"
                                   value="{{ form.surname.value }}"><br/>
                            <div class="error-message">{{ form.surname.errors }}</div>

                            <label for="{{ form.name.id_for_label }}" class="frame-text16">Имя</label><br/>
                            <input type="text" class="frame-frame35" name="{{ form.name.name }}" id="street"
                                   value="{{ form.name.value }}"><br/>
                            <div class="error-message">{{ form.name.errors }}</div>

                            <label for="{{ form.father_name.id_for_label }}" class="frame-text16">Отчество</label><br/>
                            <input type="text" class="frame-frame35" name="{{ form.father_name.name }}"
                                   id="house_number" value="{{ form.father_name.value }}"><br/>
                            <div class="error-message">{{ form.father_name.errors }}</div>

                            <div>
                                <button type="submit" class="btn-send-ap">Сохранить</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>