.frame-container {
  min-height: 100vh;
}
.frame-frame {
  width: 100%;
  height: 1175px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame-frame46 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame-rectangle36 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 115px;
  position: absolute;
  border-color: transparent;
}
.frame-frame6 {
  top: 29px;
  left: 1007px;
  width: 240px;
  display: flex;
  padding: 21px 94px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.frame-text {
  color: var(--dl-color-default-green1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 23px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text02 {
  top: 43px;
  left: 60px;
  color: var(--dl-color-default-gray1);
  width: 99px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 48px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame55 {
  top: 46px;
  left: 1316px;
  width: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.frame-line12 {
  width: 64px;
  height: 0px;
  position: relative;
  margin-bottom: 15px;
}
.frame-line13 {
  width: 64px;
  height: 0px;
  position: relative;
  margin-bottom: 15px;
}
.frame-line14 {
  width: 64px;
  height: 0px;
  position: relative;
}
.frame-text04 {
  top: 227px;
  left: 330px;
  color: var(--dl-color-default-gray1);
  width: 256px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame28 {
  top: 245px;
  left: 60px;
  width: 174px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.frame-group21 {
  width: 96px;
  height: 116px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 32px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-text06 {
  top: 78px;
  left: 19px;
  color: var(--dl-color-default-gray3);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-group19 {
  top: 0px;
  left: 13.000112533569336px;
  width: 69px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-ellipse1 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-color: transparent;
}
.frame-text08 {
  left: 19px;
  color: var(--dl-color-default-gray1);
  width: 25px;
  bottom: 7px;
  height: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-group20 {
  top: 99px;
  left: 0px;
  width: 95.88004302978516px;
  height: 17px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-star1 {
  left: 0px;
  width: 17px;
  bottom: -17px;
  height: 17px;
  position: absolute;
}
.frame-star2 {
  left: 20px;
  width: 17px;
  bottom: -17px;
  height: 17px;
  position: absolute;
}
.frame-star3 {
  left: 39px;
  width: 17px;
  bottom: -17px;
  height: 17px;
  position: absolute;
}
.frame-star4 {
  left: 59px;
  width: 17px;
  bottom: -17px;
  height: 17px;
  position: absolute;
}
.frame-star5 {
  right: 0px;
  width: 17px;
  bottom: -17px;
  height: 17px;
  position: absolute;
}
.frame-group22 {
  width: 174px;
  height: 48px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-ellipse2 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.frame-ellipse3 {
  top: 0px;
  left: 63px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.frame-ellipse4 {
  top: 0px;
  left: 126px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.frame-text09 {
  top: -4px;
  left: 11px;
  color: var(--dl-color-default-gray3);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text11 {
  top: -4px;
  left: 74px;
  color: var(--dl-color-default-gray3);
  width: 29px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text13 {
  top: -4px;
  color: var(--dl-color-default-gray3);
  right: 10px;
  width: 27px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame23 {
  top: 515px;
  left: 60px;
  width: 188px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame-frame24 {
  height: 22px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 20px;
}
.frame-text15 {
  color: var(--dl-color-default-gray3);
  width: 76px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 5px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text17 {
  color: var(--dl-color-default-gray1);
  width: 96px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame25 {
  height: 22px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 20px;
}
.frame-text19 {
  color: var(--dl-color-default-gray3);
  width: 41px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 5px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text21 {
  color: var(--dl-color-default-gray1);
  width: 123px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame26 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.frame-text23 {
  color: var(--dl-color-default-gray3);
  width: 152px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.frame-text25 {
  color: var(--dl-color-default-gray1);
  width: 228px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 25px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-group48 {
  top: 159px;
  left: 63px;
  width: 200px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame-text27 {
  left: 43px;
  color: var(--dl-color-default-green1);
  width: 157px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-arrow12 {
  top: 9px;
  left: 29px;
  width: 29px;
  height: 0px;
  position: absolute;
}
.frame-frame61 {
  top: 738px;
  left: 36px;
  width: 240px;
  height: 43px;
  display: flex;
  padding: 21px 94px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.frame-text29 {
  color: var(--dl-color-default-gray1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 23px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text31 {
  top: 269px;
  left: 330px;
  color: var(--dl-color-default-gray1);
  width: 398px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame19 {
  top: 368px;
  left: 330px;
  width: 489px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame-text33 {
  color: var(--dl-color-default-gray3);
  width: 89px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 5px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text35 {
  color: var(--dl-color-default-gray1);
  width: 395px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame38 {
  top: 395px;
  left: 330px;
  width: 507px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame-text37 {
  color: var(--dl-color-default-gray3);
  width: 107px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 5px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-text39 {
  color: var(--dl-color-default-gray1);
  width: 395px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame31 {
  top: 551px;
  left: 330.001220703125px;
  width: 329px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame-text41 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-text43 {
  color: var(--dl-color-default-gray1);
  width: 334px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame551 {
  top: 714px;
  left: 330px;
  width: 329px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.frame-frame39 {
  width: 329px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 19px;
  flex-direction: column;
}
.frame-text45 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-frame47 {
  width: 329px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 19px;
  flex-direction: column;
}
.frame-text47 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-text49 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-frame56 {
  top: 714px;
  left: 737px;
  width: 329px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.frame-frame391 {
  width: 329px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 19px;
  flex-direction: column;
}
.frame-text51 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-text53 {
  color: var(--dl-color-default-gray1);
  width: 334px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame471 {
  width: 329px;
  height: 53px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame-text55 {
  color: var(--dl-color-default-gray3);
  width: 299px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-text57 {
  color: var(--dl-color-default-gray1);
  width: 343px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.frame-text59 {
  color: var(--dl-color-default-gray1);
  width: 343px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame33 {
  top: 470px;
  left: 731px;
  width: 192px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame-text61 {
  color: var(--dl-color-default-gray3);
  width: 368px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.frame-text68 {
  color: var(--dl-color-default-gray1);
  width: 192px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-frame34 {
  top: 554px;
  left: 731px;
  width: 232px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.frame-text70 {
  color: var(--dl-color-default-gray3);
  width: 232px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.frame-text72 {
  color: var(--dl-color-default-gray1);
  width: 192px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 57px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame-line7 {
  top: 444px;
  left: 330px;
  width: 780px;
  height: 0px;
  position: absolute;
}
.frame-line9 {
  top: 642px;
  left: 330px;
  width: 780px;
  height: 0px;
  position: absolute;
}
.frame-line8 {
  top: 353px;
  left: 330px;
  width: 780px;
  height: 0px;
  position: absolute;
}
.frame-line11 {
  top: 485px;
  left: 60px;
  width: 177px;
  height: 0px;
  position: absolute;
}
