<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./frame.css" rel="stylesheet" />

      <div class="frame-container">
        <div class="frame-frame">
          <div class="frame-frame46">
            <img
              alt="Rectangle36I201"
              src="public/playground_assets/rectangle36i201-pocl-200h.png"
              class="frame-rectangle36"
            />
            <div class="frame-frame6">
              <span class="frame-text"><span>Вход для организаций</span></span>
            </div>
            <span class="frame-text02"><span>ЛОГО</span></span>
            <div class="frame-frame55">
              <img
                alt="Line12I201"
                src="public/playground_assets/line12i201-22xv.svg"
                class="frame-line12"
              />
              <img
                alt="Line13I201"
                src="public/playground_assets/line13i201-1uxd.svg"
                class="frame-line13"
              />
              <img
                alt="Line14I201"
                src="public/playground_assets/line14i201-4tbl.svg"
                class="frame-line14"
              />
            </div>
          </div>
          <span class="frame-text04"><span>ООО “Ромашка”</span></span>
          <div class="frame-frame28">
            <div class="frame-group21">
              <span class="frame-text06"><span>Рейтинг</span></span>
              <div class="frame-group19">
                <img
                  alt="Ellipse12018"
                  src="public/playground_assets/ellipse12018-nz44-200h.png"
                  class="frame-ellipse1"
                />
                <span class="frame-text08">4</span>
              </div>
              <div class="frame-group20">
                <img
                  alt="Star12021"
                  src="public/playground_assets/star12021-a0vg.svg"
                  class="frame-star1"
                />
                <img
                  alt="Star22022"
                  src="public/playground_assets/star22022-dji.svg"
                  class="frame-star2"
                />
                <img
                  alt="Star32023"
                  src="public/playground_assets/star32023-wzx.svg"
                  class="frame-star3"
                />
                <img
                  alt="Star42024"
                  src="public/playground_assets/star42024-iex9.svg"
                  class="frame-star4"
                />
                <img
                  alt="Star52025"
                  src="public/playground_assets/star52025-afdk.svg"
                  class="frame-star5"
                />
              </div>
            </div>
            <div class="frame-group22">
              <img
                alt="Ellipse22027"
                src="public/playground_assets/ellipse22027-8kea-200h.png"
                class="frame-ellipse2"
              />
              <img
                alt="Ellipse32028"
                src="public/playground_assets/ellipse32028-18j5-200h.png"
                class="frame-ellipse3"
              />
              <img
                alt="Ellipse42029"
                src="public/playground_assets/ellipse42029-wwwf-200h.png"
                class="frame-ellipse4"
              />
              <span class="frame-text09"><span>ИНН</span></span>
              <span class="frame-text11"><span>СРО</span></span>
              <span class="frame-text13"><span>НРС</span></span>
            </div>
          </div>
          <div class="frame-frame23">
            <div class="frame-frame24">
              <span class="frame-text15"><span>Телефоны:</span></span>
              <span class="frame-text17"><span>+7 222 00 00</span></span>
            </div>
            <div class="frame-frame25">
              <span class="frame-text19"><span>Email:</span></span>
              <span class="frame-text21"><span>ivanov@gail.com</span></span>
            </div>
            <div class="frame-frame26">
              <span class="frame-text23"><span>Юридический адрес:</span></span>
              <span class="frame-text25">
                <span>11111, г. Москва, Красная Площадь, д.1</span>
              </span>
            </div>
          </div>
          <div class="frame-group48">
            <span class="frame-text27"><span>К списку организаций</span></span>
            <img
              alt="Arrow122045"
              src="public/playground_assets/arrow122045-rkit.svg"
              class="frame-arrow12"
            />
          </div>
          <div class="frame-frame61">
            <span class="frame-text29">
              <span>Проверить данные в НОПРИЗ</span>
            </span>
          </div>
          <span class="frame-text31">
            <span>Общество с органиченной отвественностью “Ромашка”</span>
          </span>
          <div class="frame-frame19">
            <span class="frame-text33"><span>Виды работ:</span></span>
            <span class="frame-text35">
              <span>Лицензирование, строительство, монтаж</span>
            </span>
          </div>
          <div class="frame-frame38">
            <span class="frame-text37"><span>Регион работ:</span></span>
            <span class="frame-text39">
              <span>Москва, МО, Центральный округ</span>
            </span>
          </div>
          <div class="frame-frame31">
            <span class="frame-text41">
              <span>ФИО и должность руководителя:</span>
            </span>
            <span class="frame-text43">
              <span>Петр Петрович Иванов, генеральный директор</span>
            </span>
          </div>
          <div class="frame-frame551">
            <div class="frame-frame39">
              <span class="frame-text45"><span>Телефоны:</span></span>
            </div>
            <div class="frame-frame47">
              <span class="frame-text47"><span>Email:</span></span>
            </div>
            <span class="frame-text49"><span>Сайт:</span></span>
          </div>
          <div class="frame-frame56">
            <div class="frame-frame391">
              <span class="frame-text51"><span>Адреса филиалов:</span></span>
              <span class="frame-text53">
                <span>11111, г. Москва, Красная Площадь, д.1</span>
              </span>
            </div>
            <div class="frame-frame471">
              <span class="frame-text55">
                <span>ФИО и должность сотрудников</span>
              </span>
              <span class="frame-text57">
                <span>Петр Петрович Зуев, коммерческий директор</span>
              </span>
              <span class="frame-text59">
                <span>Инесса Викторовна Иванова, менеджер</span>
              </span>
            </div>
          </div>
          <div class="frame-frame33">
            <span class="frame-text61">
              <span>
                <span></span>
                <br />
                <span>Название СРО</span>
                <br />
                <span></span>
              </span>
            </span>
            <span class="frame-text68"><span>5252822</span></span>
          </div>
          <div class="frame-frame34">
            <span class="frame-text70">
              <span>Дата и номер решения о приеме в члены СРО:</span>
            </span>
            <span class="frame-text72">
              <span>№ 5252822 от 28.02.2022</span>
            </span>
          </div>
          <img
            alt="Line72082"
            src="public/playground_assets/line72082-lp2h.svg"
            class="frame-line7"
          />
          <img
            alt="Line92083"
            src="public/playground_assets/line92083-7c6u.svg"
            class="frame-line9"
          />
          <img
            alt="Line82084"
            src="public/playground_assets/line82084-3ng.svg"
            class="frame-line8"
          />
          <img
            alt="Line112092"
            src="public/playground_assets/line112092-mdf.svg"
            class="frame-line11"
          />
        </div>
      </div>
    </div>
  </body>
</html>
