{% extends 'base.html' %}
{% block list %}О компании{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>

    <section id="cards">
        <span class="arrow-back"><img src="https://img.icons8.com/ios/50/null/long-arrow-left.png"> На главную</span>
        <div class="cards mb-5">
            <div class="card__about">
                <h3 class="card__about--title">О сервисе</h3>
                <div class="card__about--text">
                <span>
                    Проверьте, какие сведения о вашей компании или ИП доступны вашим партнерам, клиентам и конкурентам.
                    Редактировать можно следующую информацию об организации:
                </span>
                    <br>
                    Электронная почта
                    <br>
                    Телефон
                    <br>
                    Сайт
                    <br>
                    Документы: устав, прайс-листы, пресс-релизы и другие
                    <br>
                    Английское наименование
                    <br>
                    Логотип
                    <br>
                    После обновления сведений, мы проверим их на достоверность и опубликуем в течение 2 рабочих дней.
                    <br>
                </div>
            </div>
            <div class="card__confirm-data">
                <h3 class="card__confirm-data--title">Подтвердите данные своей организации!</h3>
                <div class="card__confirm-data--text">
                <span>
                    Сервис использует авторизацию пользователя по квалифицированному сертификату ключа проверки электронной подписи, 
                    выданному Удостоверяющим центром, аккредитованным в сети доверенных удостоверяющих центров Министерства связи и массовых 
                    коммуникаций России. 
                    Редактирование невозможно, если технические требования не выполнены или не пройдена проверка подлинности 
                    электронной подписи.
                </span>
                    <br>
                    <button class="card__confirm-button" type="submit">Внести данные</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}