<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/application.css'%}>

</head>
<body>
<section>
    <header>
        <div class="navbar">
            <div class="navbar__container">
                <a href="#" class="navbar-brand d-flex align-items-center navbar__logo">
                    <span>ЛОГО</span>
                </a>
                <div class="login-container">
                    <a href="#"><span class="login">Вход для организаций</span></a>
                </div>
                <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom-toggler"></span>
                </button>
            </div>
        </div>
    </header>
</section>
<section class="title-h1">
    <h1>Создайте заявку</h1>
</section>
<section class="data">
    <form class="form-view">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card border border-white">
                    <div class="card-body">
                        <div class="data-input-number">
                            <input type="text" class="data-input border" name="FirstName" id="fname"
                                   placeholder="Кадастровый номер"/><br/>
                        </div>
                        <div>
                            <h3>Адрес объекта</h3>
                        </div>
                        <div>
                            <select name="user_profile_color_1" class="data-input">
                                <option selected>Регион</option>
                                <option value="1">Строительство</option>
                                <option value="2">Лицензирование</option>
                            </select><br>
                            <select name="user_profile_color_1" class="data-input">
                                <option selected>Область/район/округ</option>
                                <option value="1">Строительство</option>
                                <option value="2">Лицензирование</option>
                            </select><br>
                            <input type="text" class="data-input border" name="FirstName" id="fname"
                                   placeholder="Населенный пункт"/><br/>
                            <input type="text" class="data-input border" name="FirstName" id="fname"
                                   placeholder="Улица"/><br/>


                            <div class="input-group">
                                    <input type="text" class="border mr-2 house" name="FirstName"
                                           placeholder="Дом"/>
                                    <input type="text" class="border house" name="FirstName"
                                           placeholder="Корпус/строение"/>
                                </div>

                            <div>
                                <button type="submit" class="btn-send-ap">ОТПРАВИТЬ ЗАЯВКУ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 delimiter">
                <h3>Площадь участка</h3>

                <div class="card border border-white">
                    <div class="card-body">

                        <div class="input-group border mb-3">
                            <input type="text" class="form-control data-inputdimensions"
                                   aria-label="Text input with dropdown button" placeholder="Ширина">
                            <button class="btn btn-outline-secondary dropdown-toggle border rounded-0" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">м<sup>2</sup>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Га</a></li>
                            </ul>
                        </div>
                        <div class="job-types">
                            <h3>Габариты здания</h3>

                            <div class="btn-group" role="group" aria-label="Basic example">

                                <div class="input-group border mb-3 dimensions">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with dropdown button" placeholder="Длина">
                                    <button class="btn btn-outline-secondary dropdown-toggle border rounded-0"
                                            type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">м
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">км</a></li>
                                    </ul>
                                </div>
                                <div class="input-group border mb-3 dimensions">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with dropdown button" placeholder="Высота">
                                    <button class="btn btn-outline-secondary dropdown-toggle border rounded-0"
                                            type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">м
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">этаж</a></li>

                                    </ul>
                                </div>
                                <div class="input-group border mb-3 dimensions">
                                    <input type="text" class="form-control"
                                           aria-label="Text input with dropdown button" placeholder="Ширина">
                                    <button class="btn btn-outline-secondary dropdown-toggle border rounded-0"
                                            type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">м
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">км</a></li>
                                        <li><a class="dropdown-item" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <h3 class="data-title">Виды работ</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Виды работ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Виды работ</label>
                            </div>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Виды работ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Виды работ</label>
                            </div>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Виды работ</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">Виды работ</label>
                            </div>
                            <div class="textarea-input">
                                <textarea class="textarea-input-text border"
                                          placeholder="Опишите задачу или оставьте комментарий"></textarea>

                            </div>
                            <div class="common-row border">
                                <input type="file" id="file">
                                <label class="common-label" for="file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-arrow-down-short" viewBox="0 0 16 12">
                                        <path fill-rule="evenodd"
                                              d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5
                                              0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    Прикрепить файлы
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

    </form>


</section>

</body>
</html>