<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block list %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body id='body'>
<div class="wrapper">
    <section>
        <header>
            <div class="navbar">
                <div class="navbar__container">
                    <a href="{% url 'geo_handbook:index' %}"
                       class="navbar-brand d-flex align-items-center navbar__logo">
                        <span>ЛОГО</span>
                    </a>
                    <div class="login-container">
                        <a href="#"><span class="login">Вход для организаций</span></a>
                    </div>
                    <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon custom-toggler"></span>
                    </button>
                </div>
            </div>
        </header>
    </section>

    {% block content %}
    {% endblock %}

    <section id="footer">
        <footer class="footer">
            <span class='navbar-brand d-flex align-items-center navbar__logo' style="margin-left: 60px;">ЛОГО</span>
            <div class="text">
                <a href={% url 'geo_handbook:about' %}><span style="color: #219653;">О сервисе</span></a>
                <span>Как мы определяем актуальность</span>
                <span>Источники данных</span>
                <span style="color: #219653;">Для организаций</span>
            </div>
        </footer>
    </section>
</div>
</body>
</html>