{% extends 'base.html' %}
{% block list %}О сервисе{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}"/>
    <div class="page">
        <div class="header">
            <header>
                <div class="navbar">
                    <div class="navbar__container">
                        <a href={% url 'geo_handbook:index' %} class="navbar-brand d-flex align-items-center
                           navbar__logo">
                        <span>ЛОГО</span>
                        </a>
                        <div class="login-container">
                            <a href="#"><span class="login">Вход для организаций</span></a>
                        </div>
                        <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon custom-toggler"></span>
                        </button>
                    </div>
                </div>
            </header>
        </div>

        <a href={% url 'geo_handbook:index' %}><span class="arrow-back"><img
                src="https://img.icons8.com/ios/50/null/long-arrow-left.png"><span style="margin-left: 8px;">К списку организаций</span></span></a>
        <div class="company__info">
            <div class="company__data1">
                <span class="company__data--rating">{{ rating }}</span>
                <div class="rating">
                    <span class="rating--title">Рейтинг</span>
                    <div class="stars">
                        <img src={% static 'assets/stars/black-star.svg' %}>
                        <img src={% static 'assets/stars/black-star.svg' %}>
                        <img src={% static 'assets/stars/black-star.svg' %}>
                        <img src={% static 'assets/stars/white-star.svg' %}>
                        <img src={% static 'assets/stars/white-star.svg' %}>
                    </div>
                </div>
                <div class="company__data-bureaucracy">
                    <span class="company__data-bureaucracy-data">ИНН</span>
                    <span class="company__data-bureaucracy-data">СРО</span>
                    <span class="company__data-bureaucracy-data">НРС</span>
                </div>
                <span class="company__address">
                    <span class='company__data-text'>Юридический адрес: <br></span style='color: #333333;'>{{ index }}, г.{{ city }}, {{ street }}, д.{{ house_number }}</span>
                </span>
                <button class="button__nopris"><span class="button__nopris--text">ПРОВЕРИТЬ ДАННЫЕ В НОПРИЗ</span>
                </button>
            </div>

            <div class="company__about">
                <div class="company__about--title">
                    <h4>{{ short_name }}</h4>
                    <span>{{ full_name }}</span>
                </div>
                <hr>
                <div class="company__about--data">
                    <span class="company__about--text" style="color: #828282;">Виды работ:<span style="color:black;"> 
                    {% for work_type in work_types %}
                        {{ work_type }}
                    {% endfor %}</span></span>
                    <span class="company__about--text" style="color: #828282; margin-top: 5px;">Регион работ: <span
                            style="color:black;"> Москва, МО, Центральный округ</span></span>
                </div>
                <hr style="margin-top: 21px;">

                <div class="legal_data">
                    <div class="legal_data__company">
                        <div class="legal_data--info">
                            <div class="legal_data__inn">
                                <span>ИНН:</span>
                                <br>
                                <span>{{ inn }}</span>
                            </div>

                            <div class="legal_data__ogrn">
                                <span>ОГРН/ОГРНИП:</span>
                                <br>
                                <span>{{ ogrn }}</span>
                            </div>
                        </div>

                        <div class="legal_data--director">
                            <span>ФИО и должность руководителя:</span>
                            <br>
                            <span style="display:block; margin-top: 10px; width: 330px;">{% for director in directors %}
                                {{ director.surname }} {{ director.name }} {{ director.father_name }}
                                {{ director.position }}{% endfor %}</span>
                        </div>
                    </div>

                    <div class="legal_data__sro" style='width:375px;'>
                        <div class="legal_data__sro--name">
                            <span>Название СРО</span>
                            <br>
                            <span>{{ sro.full_name }}</span>
                        </div>

                        <div class="legal_data__sro--start-date" style="margin-top: 31px;">
                            <span>Дата и номер решения о приеме в члены СРО:</span>
                            <br>
                            <span>№ {{ sro_number }} от {{ sro_license_date }}   </span>
                        </div>

                        <div class="legal_data__sro--end-date" style="margin-top: 25px;">
                            <span>Дата прекращения членства:</span>
                            <br>
                            <span>{{ sro_license_date }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 46px;">
        </div>

        <div class="request">
            <div class="request__data">
                <div class="request__data--text">
                    <span>Ищите услуги проверенных компаний? Создайте задание и в 1 клик отправьте его лучшим компаниям региона. Получайте заявки и выбирайте лучшее предложение.</span>
                </div>
                <button class="request__data--button">Создать заявку</button>
            </div>
        </div>

        <div class="companys">
            <span class="companys--title">Лучшие компании региона</span>
            <br>
            <br>
            <div class="container">
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="p-3 company-container">
                            <div class="company">
                                <h4>Ромашка</h4>
                                <div class="rating">
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/black-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                    <img src={% static 'assets/stars/white-star.svg' %}>
                                </div>
                            </div>
                            <div class="company__data">
                            <span class="company__address">
                                <span class='company__data-text'>Юридический адрес: </span>11111, г.Москва, Красная Площадь, д.1</span>
                                <span class='company__data-text'>Виды работ: </span>Лицензирование, строительство,
                                монтаж   </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}