<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta property="twitter:card" content="summary_large_image"/>

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font"/>
    <link rel="stylesheet" href="{% static 'css/card.css' %}"/>
</head>
<body>
<div>
    <div class="frame-container">
        <div class="frame-frame">
            <header>
                <div class="frame-frame46">
                    <img alt="Rectangle36I152" src="{% static 'assets/card/rectangle36i152-05hu-200h.png' %}"
                         class="frame-rectangle36"/>
                    <div class="frame-frame6">
                        <div class="frame-text">
                            <a href="#">Вход для организаций</a>
                        </div>
                    </div>
                    <div class="frame-text002">
                        <img src="your-image-source" alt="ЛОГО">
                    </div>

                    <div class="frame-frame55">
                        <a href="#">
                            <img alt="Line12I152" src="{% static 'assets/card/line12i152-lwbl.svg' %}"
                                 class="frame-line12"/>
                            <img alt="Line13I152" src="{% static 'assets/card/line13i152-h5hw.svg' %}"
                                 class="frame-line13"/>
                            <img alt="Line14I152" src="{% static 'assets/card/line14i152-nkw.svg' %}"
                                 class="frame-line14"/>
                        </a>
                    </div>

                </div>
            </header>
            <main>
                <img alt="Rectangle231522" src="{% static 'assets/card/rectangle231522-xsd-300w.png' %}"
                     class="frame-rectangle23"/>
                <!-- <div class="frame-group23">
                  <div class="frame-frame25">
                    <span class="frame-text004"><span>ИНН:</span></span>
                    <span class="frame-text006"><span>52252852816</span></span>
                  </div>
                  <div class="frame-frame28">
                    <span class="frame-text008"><span>ОГРН/ОГРНИП:</span></span>
                    <span class="frame-text010"><span>525252528828</span></span>
                  </div>
                </div> -->
                <div class="frame-group48">
                    <div class="frame-text058">
                        <a href="#">К списку организаций</a>
                    </div>
                    <img alt="Arrow121527" src="{% static 'assets/card/arrow121527-yuys.svg' %}" class="frame-arrow12"/>
                </div>
                <div class="frame-group54">
                    <div class="frame-text012">
                        <span>ООО “Ромашка”</span>
                    </div>
                    <div class="frame-text014">
                        <p>Общество с органиченной отвественностью “Ромашка”</p>
                    </div>
                    <div class="frame-frame19">
                        <div class="frame-text016">
                            <p>Виды работ:</p>
                        </div>
                        <div class="frame-text018">
                            <p>Лицензирование, строительство, монтаж</p>
                        </div>
                    </div>
                    <div class="frame-frame38">
                        <div class="frame-text020">
                            <p>Регион работ:</p>
                        </div>
                        <div class="frame-text022">
                            <p>Москва, МО, Центральный округ</p>
                        </div>
                    </div>
                    <div class="frame-frame31">
                        <div class="frame-text024">
                            <p>ФИО и должность руководителя:</p>
                        </div>
                        <div class="frame-text026">
                            <p>Петр Петрович Иванов, генеральный директор</p>
                        </div>
                    </div>
                    <div class="frame-frame33">
                        <div class="frame-text028">
                            <p>Название СРО</p>
                        </div>
                        <div class="frame-text035">
                            <p>5252822</p>
                        </div>
                    </div>
                    <div class="frame-frame34">
                        <div class="frame-text037">
                            <p>Дата и номер решения о приеме в члены СРО:</p>
                        </div>
                        <div class="frame-text039">
                            <p>№ 5252822 от 28.02.2022</p>
                        </div>
                    </div>
                    <div class="frame-frame36">
                        <div class="frame-text041">
                            <p>Дата прекращения членства:</p>
                        </div>
                        <div class="frame-text043">
                            <p>22.08.2022</p>
                        </div>
                    </div>
                    <img alt="Line71525" src="{% static 'assets/card/line71525-da9.svg' %}" class="frame-line7"/>
                    <img alt="Line81525" src="{% static 'assets/card/line81525-hnf.svg' %}" class="frame-line8"/>
                </div>
                <div class="frame-frame281">
                    <div class="frame-group21">
                        <div class="frame-text045">
                            <span>Рейтинг</span>
                        </div>
                        <div class="frame-group19">
                            <img alt="Ellipse11525" src="{% static 'assets/card/ellipse11525-5nkk-200h.png' %}"
                                 class="frame-ellipse1"/>
                            <span class="frame-text047">3</span>
                        </div>
                        <div class="frame-group20">
                            <img alt="Star11525" src="{% static 'assets/card/star11525-2me.svg' %}" class="frame-star1"/>
                            <img alt="Star21526" src="{% static 'assets/card/star21526-aibw.svg' %}" class="frame-star2"/>
                            <img alt="Star31526" src="{% static 'assets/card/star31526-e1g.svg' %}" class="frame-star3"/>
                            <img alt="Star41526" src="{% static 'assets/card/star41526-j3l.svg' %}" class="frame-star4"/>
                            <img alt="Star51526" src="{% static 'assets/card/star51526-7gij.svg' %}" class="frame-star5"/>
                        </div>
                    </div>
                    <div class="frame-group22">
                        <img alt="Ellipse21526" src="{% static 'assets/card/ellipse21526-aowq-200h.png' %}"
                             class="frame-ellipse2"/>
                        <img alt="Ellipse31526" src="{% static 'assets/card/ellipse31526-yk5yh-200h.png' %}"
                             class="frame-ellipse3"/>
                        <img alt="Ellipse41526" src="{% static 'assets/card/ellipse41526-0zen-200h.png' %}"
                             class="frame-ellipse4"/>
                        <div class="frame-text048"><span>ИНН</span></div>
                        <div class="frame-text050"><span>СРО</span></div>
                        <div class="frame-text052"><span>НРС</span></div>
                    </div>
                </div>
                <div class="frame-frame23">
                    <div class="frame-frame26">
                        <div class="frame-text054">
                            <p>Юридический адрес:</p>
                        </div>
                        <div class="frame-text056">
                            <p>11111, г. Москва, Красная Площадь, д.1</p>
                        </div>
                    </div>
                </div>
                <div class="frame-frame61">
                    <div class="frame-text060">
                        <a href="#">Проверить данные в НОПРИЗ</a>
                    </div>
                </div>
                <img alt="Line101528" src="{% static 'assets/card/line101528-3la9.svg' %}" class="frame-line10"/>
                <div class="frame-text062">
                    <h4>Лучшие компании региона</h4>
                </div>
                <div class="frame-group55">
                    <div class="frame-frame53">
                        <a href="#" class="frame-text064">Создать заявку</a>
                    </div>
                    <div class="frame-text066">
                        <p>
                            Ищите услуги проверенных компаний? Создайте задание, и в 1 клик
                            отправьте его лучшим компаниям региона. Получайте заявки и
                            выбирайте лучшее предложение.
                        </p>
                    </div>
                </div>
                <img alt="Rectangle381528" src="{% static 'assets/card/rectangle381528-ieop-200h.png' %}"
                     class="frame-rectangle38"/>
                <img alt="Rectangle391528" src="{% static 'assets/card/rectangle391528-ax8k-600h.png' %}"
                     class="frame-rectangle39"/>
                <img alt="Rectangle401528" src="{% static 'assets/card/rectangle401528-71sr-700h.png' %}"
                     class="frame-rectangle40"/>
                <div class="frame-group49">
                    <div class="frame-text068">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group44">
                        <div class="frame-group46">
                            <div class="frame-text070"><p>Виды работ:</p></div>
                            <div class="frame-text072">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text074"><p>Юридический адрес:</p></div>
                    <div class="frame-text076">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2001">
                        <img alt="Star11529" src="{% static 'assets/card/star11529-jxi.svg' %}" class="frame-star101"/>
                        <img alt="Star21530" src="{% static 'assets/card/star21530-wbt.svg' %}" class="frame-star201"/>
                        <img alt="Star31530" src="{% static 'assets/card/star31530-sno7.svg' %}" class="frame-star301"/>
                        <img alt="Star41530" src="{% static 'assets/card/star41530-d9w3.svg' %}" class="frame-star401"/>
                        <img alt="Star51530" src="{% static 'assets/card/star51530-3hf.svg' %}" class="frame-star501"/>
                    </div>
                </div>
                <div class="frame-group50">
                    <div class="frame-text078">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4401">
                        <div class="frame-group4601">
                            <div class="frame-text080">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text082">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text084"><p>Юридический адрес:</p></div>
                    <div class="frame-text086">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2002">
                        <img alt="Star11531" src="{% static 'assets/card/star11531-zq08.svg' %}" class="frame-star102"/>
                        <img alt="Star21531" src="{% static 'assets/card/star21531-ccn.svg' %}" class="frame-star202"/>
                        <img alt="Star31531" src="{% static 'assets/card/star31531-tlq.svg' %}" class="frame-star302"/>
                        <img alt="Star41531" src="{% static 'assets/card/star41531-lwlo.svg' %}" class="frame-star402"/>
                        <img alt="Star51531" src="{% static 'assets/card/star51531-4el9.svg' %}" class="frame-star502"/>
                    </div>
                </div>
                <div class="frame-group541">
                    <div class="frame-text088">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4402">
                        <div class="frame-group4602">
                            <div class="frame-text090">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text092">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text094">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text096">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2003">
                        <img alt="Star11532" src="{% static 'assets/card/star11532-7hw9.svg' %}" class="frame-star103"/>
                        <img alt="Star21532" src="{% static 'assets/card/star21532-k4mc.svg' %}" class="frame-star203"/>
                        <img alt="Star31532" src="{% static 'assets/card/star31532-ue2.svg' %}" class="frame-star303"/>
                        <img alt="Star41533" src="{% static 'assets/card/star41533-a2aj.svg' %}" class="frame-star403"/>
                        <img alt="Star51533" src="{% static 'assets/card/star51533-edh.svg' %}" class="frame-star503"/>
                    </div>
                </div>
                <div class="frame-group57">
                    <div class="frame-text098">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4403">
                        <div class="frame-group4603">
                            <div class="frame-text100">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text102">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text104"><p>Юридический адрес:</p></div>
                    <div class="frame-text106">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2004">
                        <img alt="Star11534" src="{% static 'assets/card/star11534-793a.svg' %}" class="frame-star104"/>
                        <img alt="Star21534" src="{% static 'assets/card/star21534-logd.svg' %}" class="frame-star204"/>
                        <img alt="Star31534" src="{% static 'assets/card/star31534-3f8i.svg' %}" class="frame-star304"/>
                        <img alt="Star41534" src="{% static 'assets/card/star41534-62z.svg' %}" class="frame-star404"/>
                        <img alt="Star51534" src="{% static 'assets/card/star51534-bu2h.svg' %}" class="frame-star504"/>
                    </div>
                </div>
                <div class="frame-group51">
                    <div class="frame-text108">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4404">
                        <div class="frame-group4604">
                            <div class="frame-text110">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text112">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text114">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text116">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2005">
                        <img alt="Star11535" src="{% static 'assets/card/star11535-3ww.svg' %}" class="frame-star105"/>
                        <img alt="Star21535" src="{% static 'assets/card/star21535-nq5.svg' %}" class="frame-star205"/>
                        <img alt="Star31535" src="{% static 'assets/card/star31535-7p.svg' %}" class="frame-star305"/>
                        <img alt="Star41535" src="{% static 'assets/card/star41535-2ct8.svg' %}" class="frame-star405"/>
                        <img alt="Star51535" src="{% static 'assets/card/star51535-cmuc.svg' %}" class="frame-star505"/>
                    </div>
                </div>
                <div class="frame-group551">
                    <div class="frame-text118">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4405">
                        <div class="frame-group4605">
                            <div class="frame-text120">
                                <p>Виды работ:</p></div>
                            <div class="frame-text122">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text124">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text126">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2006">
                        <img alt="Star11536" src="{% static 'assets/card/star11536-1foo.svg' %}" class="frame-star106"/>
                        <img alt="Star21537" src="{% static 'assets/card/star21537-4wxk.svg' %}" class="frame-star206"/>
                        <img alt="Star31537" src="{% static 'assets/card/star31537-uyqo.svg' %}" class="frame-star306"/>
                        <img alt="Star41537" src="{% static 'assets/card/star41537-mggd.svg' %}" class="frame-star406"/>
                        <img alt="Star51537" src="{% static 'assets/card/star51537-889o.svg' %}" class="frame-star506"/>
                    </div>
                </div>
                <div class="frame-group58">
                    <div class="frame-text128">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4406">
                        <div class="frame-group4606">
                            <div class="frame-text130">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text132">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text134"><p>Юридический адрес:</p></div>
                    <div class="frame-text136">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2007">
                        <img alt="Star11538" src="{% static 'assets/card/star11538-knej.svg' %}" class="frame-star107"/>
                        <img alt="Star21538" src="{% static 'assets/card/star21538-op7n.svg' %}" class="frame-star207"/>
                        <img alt="Star31538" src="{% static 'assets/card/star31538-zybtb.svg' %}" class="frame-star307"/>
                        <img alt="Star41538" src="{% static 'assets/card/star41538-9gm.svg' %}" class="frame-star407"/>
                        <img alt="Star51538" src="{% static 'assets/card/star51538-qlpn.svg' %}" class="frame-star507"/>
                    </div>
                </div>
                <div class="frame-group52">
                    <div class="frame-text138">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4407">
                        <div class="frame-group4607">
                            <div class="frame-text140">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text142">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text144">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text146">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2008">
                        <img alt="Star11539" src="{% static 'assets/card/star11539-3rc6.svg' %}" class="frame-star108"/>
                        <img alt="Star21539" src="{% static 'assets/card/star21539-s5ap.svg' %}" class="frame-star208"/>
                        <img alt="Star31539" src="{% static 'assets/card/star31539-ciu.svg' %}" class="frame-star308"/>
                        <img alt="Star41540" src="{% static 'assets/card/star41540-qyu.svg' %}" class="frame-star408"/>
                        <img alt="Star51540" src="{% static 'assets/card/star51540-89db.svg' %}" class="frame-star508"/>
                    </div>
                </div>
                <div class="frame-group56">
                    <div class="frame-text148">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4408">
                        <div class="frame-group4608">
                            <div class="frame-text150">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text152">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text154">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text156">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2009">
                        <img alt="Star11541" src="{% static 'assets/card/star11541-xb2b.svg' %}" class="frame-star109"/>
                        <img alt="Star21541" src="{% static 'assets/card/star21541-lf3.svg' %}" class="frame-star209"/>
                        <img alt="Star31541" src="{% static 'assets/card/star31541-irej.svg' %}" class="frame-star309"/>
                        <img alt="Star41541" src="{% static 'assets/card/star41541-8pjt.svg' %}" class="frame-star409"/>
                        <img alt="Star51541" src="{% static 'assets/card/star51541-dn32.svg' %}" class="frame-star509"/>
                    </div>
                </div>
                <div class="frame-group53">
                    <div class="frame-text158">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group4409">
                        <div class="frame-group4609">
                            <div class="frame-text160">
                                <p>Виды работ:</p>
                            </div>
                            <div class="frame-text162">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text164">
                        <p>Юридический адрес:</p>
                    </div>
                    <div class="frame-text166">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2010">
                        <img alt="Star11542" src="{% static 'assets/card/star11542-do17.svg' %}" class="frame-star110"/>
                        <img alt="Star21542" src="{% static 'assets/card/star21542-mll6.svg' %}" class="frame-star210"/>
                        <img alt="Star31542" src="{% static 'assets/card/star31542-ypis.svg' %}" class="frame-star310"/>
                        <img alt="Star41542" src="{% static 'assets/card/star41542-68g.svg' %}" class="frame-star410"/>
                        <img alt="Star51542" src="{% static 'assets/card/star51542-7ceo.svg' %}" class="frame-star510"/>
                    </div>
                </div>
            </main>
            <footer>
                <div class="frame-frame47">
                    <div class="frame-group28">
                        <img src="your-image-source" class="frame-text168" alt="ЛОГО">
                    </div>
                    <div class="frame-frame44">
                        <div class="frame-frame441">
                            <div class="frame-text170">
                                <a href="#">О сервисе</a>
                            </div>
                        </div>
                        <div class="frame-frame442">
                            <div class="frame-text172">
                                <a href="#">Как мы определяем актуальность</a>
                            </div>
                        </div>
                        <div class="frame-frame443">
                            <div class="frame-text174">
                                <a href="#">Источники данных</a>
                            </div>
                        </div>
                        <div class="frame-frame444">
                            <div class="frame-text176">
                                <a href="#">Для организаций</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</div>

</body>
</html>
