<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta property="twitter:card" content="summary_large_image"/>

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

        button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" data-tag="font"/>
    <link rel="stylesheet" href={% static 'css/card.css' %}>
</head>
<body>
    <div class="frame-container">
        <div class="frame-frame">
            <header>
                <div class="frame-frame46">
                    <img alt="Rectangle36I152" src={% static 'assets/card/rectangle36i152-05hu-200h.png' %} class="frame-rectangle36"/>
                    <div class="frame-frame6">
                        <div class="frame-text">
                            <a href="#">Вход для организаций</a>
                        </div>
                    </div>
                    <span class="frame-text002">ЛОГО</span>
                    <div class="frame-frame55">
                        <a href="#">
                            <img alt="Line12I152" src={% static 'assets/card/line12i152-lwbl.svg' %} class="frame-line12">
                            <img alt="Line13I152" src={% static 'assets/card/line13i152-h5hw.svg' %} class="frame-line13">
                            <img alt="Line14I152" src={% static 'assets/card/line14i152-nkw.svg' %} class="frame-line14">
                        </a>
                    </div>
                </div>
            </header>
            <main>
                <img alt="Rectangle231522" src={% static 'assets/card/rectangle231522-xsd-300w.png' %} class="frame-rectangle23"/>
                <!-- <div class="frame-group23">
                  <div class="frame-frame25">
                    <span class="frame-text004"><span>ИНН:</span></span>
                    <span class="frame-text006"><span>52252852816</span></span>
                  </div>
                  <div class="frame-frame28">
                    <span class="frame-text008"><span>ОГРН/ОГРНИП:</span></span>
                    <span class="frame-text010"><span>525252528828</span></span>
                  </div>
                </div> -->
                <div class="frame-group48">
                    <div class="frame-text058">
                        <a href="#">К списку организаций</a>
                    </div>
                    <img alt="Arrow121527" src={% static 'assets/card/arrow121527-yuys.svg' %} class="frame-arrow12"/>
                </div>
                <div class="frame-group54">
                    <div class="frame-text012">
                        <span>ООО “Ромашка”</span>
                    </div>
                    <div class="frame-text014">
                        <p>Общество с органиченной отвественностью “Ромашка”</p>
                    </div>
                    <div class="frame-frame19">
                        <div class="frame-text016">
                            <p>Виды работ:</p>
                        </div>
                        <div class="frame-text018">
                            <p>Лицензирование, строительство, монтаж</p>
                        </div>
                    </div>
                    <div class="frame-frame38">
                        <div class="frame-text020">
                            <p>Регион работ:</p>
                        </div>
                        <div class="frame-text022">
                            <p>Москва, МО, Центральный округ</p>
                        </div>
                    </div>
                    <div class="frame-frame31">
                        <div class="frame-text024">
                            <p>ФИО и должность руководителя:</p>
                        </div>
                        <div class="frame-text026">
                            <p>Петр Петрович Иванов, генеральный директор</p>
                        </div>
                    </div>
                    <div class="frame-frame33">
                        <div class="frame-text028">
                            <p>Название СРО</p>
                        </div>
                        <div class="frame-text035">
                            <p>5252822</p>
                        </div>
                    </div>
                    <div class="frame-frame34">
                        <div class="frame-text037">
                            <p>Дата и номер решения о приеме в члены СРО:</p>
                        </div>
                        <div class="frame-text039">
                            <p>№ 5252822 от 28.02.2022</p>
                        </div>
                    </div>
                    <div class="frame-frame36">
                        <div class="frame-text041">
                            <p>Дата прекращения членства:</p>
                        </div>
                        <div class="frame-text043">
                            <p>22.08.2022</p>
                        </div>
                    </div>
                    <img alt="Line71525" src={% static 'assets/card/line71525-da9.svg' %} class="frame-line7"/>
                    <img alt="Line81525" src={% static 'assets/card/line81525-hnf.svg' %} class="frame-line8"/>
                </div>
                <div class="frame-frame281">
                    <div class="frame-group21">
                        <div class="frame-text045">
                            <span>Рейтинг</span>
                        </div>
                        <div class="frame-group19">
                            <img alt="Ellipse11525" src={% static 'assets/card/ellipse11525-5nkk-200h.png' %}
                                 class="frame-ellipse1"/>
                            <span class="frame-text047">3</span>
                        </div>
                        <div class="frame-group20">
                            <img alt="Star11525" src={% static 'assets/card/black-star.svg' %} class="frame-star1"/>
                            <img alt="Star21526" src={% static 'assets/card/black-star.svg' %} class="frame-star2"/>
                            <img alt="Star31526" src={% static 'assets/card/black-star.svg' %} class="frame-star3"/>
                            <img alt="Star41526" src={% static 'assets/card/white-star.svg' %} class="frame-star4"/>
                            <img alt="Star51526" src={% static 'assets/card/white-star.svg' %} class="frame-star5"/>
                        </div>
                    </div>
                    <div class="frame-group22">
                        <img alt="Ellipse21526" src={% static 'assets/card/ellipse21526-aowq-200h.png'%} class="frame-ellipse2"/>
                        <img alt="Ellipse31526" src={% static 'assets/card/ellipse21526-aowq-200h.png'%} class="frame-ellipse3"/>
                        <img alt="Ellipse41526" src={% static 'assets/card/ellipse21526-aowq-200h.png'%} class="frame-ellipse4"/>
                        <div class="frame-text048">ИНН</div>
                        <div class="frame-text050">СРО</div>
                        <div class="frame-text052">НРС</div>
                    </div>
                </div>
                <div class="frame-frame23">
                    <div class="frame-frame26">
                        <div class="frame-text054">
                            <p>Юридический адрес:</p>
                        </div>
                        <div class="frame-text056">
                            <p>11111, г. Москва, Красная Площадь, д.1</p>
                        </div>
                    </div>
                </div>
                <div class="frame-frame61">
                    <div class="frame-text060">
                        <a href="#">Проверить данные в НОПРИЗ</a>
                    </div>
                </div>
                <img alt="Line101528" src="public/playground_assets/line101528-3la9.svg" class="frame-line10"/>
                <div class="frame-text062">
                    <h4>Лучшие компании региона</h4>
                </div>
                <div class="frame-group55">
                    <div class="frame-frame53">
                        <a href="#" class="frame-text064">Создать заявку</a>
                    </div>
                    <div class="frame-text066">
                        <p>
                            Ищите услуги проверенных компаний? Создайте задание, и в 1 клик
                            отправьте его лучшим компаниям региона. Получайте заявки и
                            выбирайте лучшее предложение.
                        </p>
                    </div>
                </div>
                <img alt="Rectangle381528" src={% static 'assets/card/rectangle381528-ieop-200h.png' %} class="frame-rectangle38"/>
                <img alt="Rectangle391528" src={% static 'assets/card/rectangle391528-ax8k-600h.png' %} class="frame-rectangle39"/>
                <img alt="Rectangle401528" src={% static 'assets/card/rectangle401528-71sr-700h.png' %} class="frame-rectangle40"/>
                <div class="frame-group49">
                    <div class="frame-text068">
                        <span>“Ромашка”</span>
                    </div>
                    <div class="frame-group44">
                        <div class="frame-group46">
                            <div class="frame-text070"><p>Виды работ:</p></div>
                            <div class="frame-text072">
                                <p>Лицензирование, строительство, монтаж</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame-text074"><p>Юридический адрес:</p></div>
                    <div class="frame-text076">
                        <p>11111, г. Москва, Красная Площадь, д.1</p>
                    </div>
                    <div class="frame-group2001">
                        <img alt="Star11529" src={% static 'assets/card/black-star.svg' %} class="frame-star101"/>
                        <img alt="Star21530" src={% static 'assets/card/black-star.svg' %} class="frame-star201"/>
                        <img alt="Star31530" src={% static 'assets/card/black-star.svg' %} class="frame-star301"/>
                        <img alt="Star41530" src={% static 'assets/card/white-star.svg' %} class="frame-star401"/>
                        <img alt="Star51530" src={% static 'assets/card/white-star.svg' %} class="frame-star501"/>
                    </div>
                </div>
            </main>
            <footer>
                <div class="frame-frame47">
                    <div class="frame-group28">
                        <img src="your-image-source" class="frame-text168" alt="ЛОГО">
                    </div>
                    <div class="frame-frame44">
                        <div class="frame-frame441">
                            <div class="frame-text170">
                                <a href="#">О сервисе</a>
                            </div>
                        </div>
                        <div class="frame-frame442">
                            <div class="frame-text172">
                                <a href="#">Как мы определяем актуальность</a>
                            </div>
                        </div>
                        <div class="frame-frame443">
                            <div class="frame-text174">
                                <a href="#">Источники данных</a>
                            </div>
                        </div>
                        <div class="frame-frame444">
                            <div class="frame-text176">
                                <a href="#">Для организаций</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</body>
</html>
