<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Компания</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button><hr>
</form>
<h4>Филиалы</h4>
<ul>
    {% for branche in company.branches.all %}
        <li>
            <div>
                {{ branche.postcode }} {{ branche.city }} {{ branche.street }} {{ branche.house_number }}
                <a href="{% url 'geo_handbook:edit_branches' branche.pk %}">Редактировать</a>
                <a href="{% url 'geo_handbook:delete_branches' branche.pk %}">Удалить</a>
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'geo_handbook:add_branches' company.pk %}">Добавить филиал</a><hr>
<h4>Сотрудники компании</h4>
<ul>
    {% for employee in employee %}
        <li>
            <div>
                {{ employee.position }} {{ employee.surname }} {{ employee.name }} {{ employee.father_name }}
                <a href="{% url 'geo_handbook:update_employee_company' employee.pk %}">Редактировать</a>
                <a href="{% url 'geo_handbook:delete_employee' employee.pk %}">Удалить</a>
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'geo_handbook:add_employee_company' company.pk %}">Добавить сотрудника</a>
</body>
</html>