{% extends 'base.html' %}
{% block list %}Внести данные{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/enter_details_company.css' %}"/>
    <section class="data">
        <div class="btn-group head-menu" role="group">
    <span><span class="mr-3"><a href="{% url 'geo_handbook:profile' %}" class="text-menu"><span>Основные данные</span></a></span>
    <span><span class="mr-3"><a href="{% url 'geo_handbook:settings_profile' %}" class="text-menu"><span>Редактировать данные организации</span></a></span>
    <span><span class="mr-3"><a href="{% url 'geo_handbook:settings_profile' %}" class="text-menu"><span>Настройки профиля</span></a></span>
    <div class="btn-group head-menu mt-5 mb-4" role="group">
        <select name="user_profile_color_1" class="aa mr-5">
            <option selected class="select-menu">Виды работ, выполняемые организацией</option>
            <option value="1">Строительство</option>
            <option value="2">Лицензирование</option>
        </select>

        <select name="user_profile_color_1" class="aa ml-3">
            <option selected class="select-menu">Регион выполняемых работ</option>
            <option value="1">Москва</option>
            <option value="2">МО</option>
        </select>
    </div>
    <form class="form-data">
        <div class="row mt-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card border border-white">
                    <div class="card-body">
                        <label for="fname" class="frame-text16">Наименование оранизации</label><br/>
                        <input type="text" class="frame-frame35" name="FirstName" id="fname"/><br/>
                        <label for="lname" class="frame-text16">ИНН</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">ОГРН/ОГРНИП</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">ИНН</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Юридический адрес</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">ФИО и должность руководителя</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Телефон</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Email</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Регистрационный номер в реестре СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Дата и номер решения о приеме в члены СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Название и номер СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Дата прекращения членства</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>

                        <div>
                            <h1>Добавить данные</h1><br>
                        </div>
                        <div>
                            <label for="lname" class="frame-text16">Телефоны:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">Email:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">Сайт:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                        </div>
                        <div>
                            <button type="submit" class="btn-send-ap">Сохранить</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6 delimiter">
                <div class="card border border-white">
                    <div class="card-body">
                        <label for="lname" class="frame-text16">Регистрационный номер в реестре СРО</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35"/><br/>
                        <label for="lname" class="frame-text16">Дата и номер решения о приеме в члены СРО</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35"/><br/>
                        <label for="lname" class="frame-text16">Название и номер СРО</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35"/><br/>
                        <label for="lname" class="frame-text16">Дата прекращения членства</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35"/><br/>

                        <div class="address-name">
                            <label for="lname" class="frame-text16">Адреса филиалов:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">ФИО и должность сотрудников</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    </section>
{% endblock %}