<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Внести данные</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href={% static 'css/enter_details_company.css' %}>

</head>
<body>
<section>
    <header>
        <div class="navbar">
            <div class="navbar__container">
                <a href="#" class="navbar-brand d-flex align-items-center navbar__logo">
                    <span>ЛОГО</span>
                </a>
                <div class="login-container">
                    <a href="#"><span class="login">Вход для организаций</span></a>
                </div>
                <button class="navbar-toggler toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom-toggler"></span>
                </button>
            </div>
        </div>
    </header>
</section>
<section class="data">
    <div class="btn-group head-menu" role="group">
    <span><span class="mr-3"><a href='#' class="text-menu"><span>Основные данные</span></a></span>
    <span><span class="mr-3"><a href='#' class="text-menu"><span>Редактировать данные организации</span></a></span>
    <span><span class="mr-3"><a href='#' class="text-menu"><span>Настройки профиля</span></a></span>
    </div>
    <div class="btn-group head-menu mt-5 mb-4" role="group">
        <select name="user_profile_color_1" class="aa mr-5">
            <option selected class="select-menu">Виды работ, выполняемые организацией</option>
            <option value="1">Строительство</option>
            <option value="2">Лицензирование</option>
        </select>

        <select name="user_profile_color_1" class="aa ml-3">
            <option selected class="select-menu">Регион выполняемых работ</option>
            <option value="1">Москва</option>
            <option value="2">МО</option>
        </select>
    </div>
    <form class="form-data">
        <div class="row mt-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card border border-white">
                    <div class="card-body">

                        <label for="{{ form.short_name.id_for_label }}" class="frame-text16">Наименование
                            оранизации</label><br/>
                        <input type="text" class="frame-frame35" name="organization_short_name"
                               id="organization_short_name"
                               value="{{ form.short_name.value }}" placeholder='ООО “Ромашка”'/><br/>

                        <label for="{{ form.inn.id_for_label }}" class="frame-text16">ИНН</label><br/>
                        <input type="text" class="frame-frame35" name="inn" id="inn"
                               value="{{ form.inn.value }}" placeholder="525895655"/><br/>

                        <label for="{{ form.ogrn.id_for_label }}" class="frame-text16">ОГРН/ОГРНИП</label><br/>
                        <input type="text" class="frame-frame35" name="ogrn" id="ogrn" value="{{ form.ogrn.value }}"
                               placeholder="2624151254854561"/><br/>

                        <label for="{{ form.legal_address_postcode.id_for_label }}" class="frame-text16">Почтовый
                            индекс</label><br/>
                        <input type="text" class="frame-frame35" name="legal_address_postcode"
                               id="legal_address_postcode" value="{{ form.legal_address_postcode.value }}"
                               placeholder="142600"/><br/>

                        <label for="{{ form.legal_address_city.id_for_label }}" class="frame-text16">Город</label><br/>
                        <input type="text" class="frame-frame35" name="legal_address_city" id="legal_address_city"
                               value="{{ form.legal_address_city.value }}"
                               placeholder="Москва"/><br/>

                        {% if company.director.first %}
                            <label for="director" class="frame-text16">ФИО и должность руководителя</label><br/>
                            <input type="text" class="frame-frame35" name="director" id="director"
                                   value="{{ company.director.first.position }} {{ company.director.first.surname }} {{ company.director.first.name }} {{ company.director.first.father_name }}"
                                   readonly/><br/>
                        {% else %}
                            <label for="director" class="frame-text16">ФИО и должность руководителя</label><br/>
                            <input type="text" class="frame-frame35" name="director" id="director"
                                   value="Руководитель не назначен"
                                   readonly/><br/>
                        {% endif %}


                        <label for="{{ form.phonenumber.id_for_label }}" class="frame-text16">Телефон</label><br/>
                        <input type="text" class="frame-frame35" name="phonenumber" id="phonenumber"
                               value="{{ form.phonenumber.value }}"
                               placeholder="+79555565588"/><br/>

                        <label for="{{ form.email.id_for_label }}" class="frame-text16">Email</label><br/>
                        <input type="text" class="frame-frame35" name="email" id="email" value="{{ form.email.value }}"
                               placeholder="romashka@yandex.ru"/><br/>

                        <label for="lname" class="frame-text16">Регистрационный номер в реестре СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Дата и номер решения о приеме в члены СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Название и номер СРО</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>
                        <label for="lname" class="frame-text16">Дата прекращения членства</label><br/>
                        <input type="text" class="frame-frame35" name="LastName" id="lname"/><br/>

                        <div>
                            <h1>Добавить данные</h1><br>
                        </div>
                        <div>
                            <label for="lname" class="frame-text16">Телефоны:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">Email:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">Сайт:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                        </div>
                        <div>
                            <button type="submit" class="btn-send-ap">Сохранить</button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6 delimiter">
                <div class="card border border-white">
                    <div class="card-body">
                        <label for="lname" class="frame-text16">Регистрационный номер в реестре СРО</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35" placeholder="565265288269"
                               readonly/><br/>

                        <label for="{{ form.sro_date.id_for_label }}" class="frame-text16">Дата решения о приеме в члены
                            СРО</label><br/>
                        <input type="text" class="frame-frame35" name="sro_date" id="sro_date"
                               value="{{ form.sro_date.value }}"/><br/>

                        <label for="{{ form.sro_number.id_for_label }}" class="frame-text16">Номер решения о приеме в члены
                            СРО</label><br/>
                        <input type="text" class="frame-frame35" name="sro_number" id="sro_number" value="{{ form.sro_number.value }}" /><br/>

                        <label for="lname" class="frame-text16">Дата прекращения членства</label><br/>
                        <input type="text" name="LastName" id="lname" class="frame-frame35"/><br/>

                        <div class="address-name">
                            <label for="lname" class="frame-text16">Адреса филиалов:</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                            <label for="lname" class="frame-text16">ФИО и должность сотрудников</label>
                            <input type="text" class="frame-frame25" name="LastName" id="lname"/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script>
  $(function() {
    $("#sro_date").datepicker({
      dateFormat: "yy.mm.dd"
    }).datepicker("setDate", new Date("{{ form.sro_date.value }}"));
  });
</script>
</body>
</html>