<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/index.css'%}>
</head>
<body>
    <section>
        <header>
            <div class="navbar">
                <div class="navbar__container">
                    <a href="#" class="navbar-brand d-flex align-items-center navbar__logo">
                    <span>ЛОГО</span>
                    </a>
                    <div class="login-container">
                        <a href="#"><span class="login">Вход для организаций</span></a>
                    </div>
                    <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon custom-toggler"></span>
                    </button>
                </div>
            </div>
        </header>
    </section>  
    <section>
            <div class="region-area">
                <div class="region-area__text">
                    <span class="region-area__title">Поиск лицензированных организаций в области проектирования</span>
                    <div class="region-area__select-region">
                        <span class="select-region__text">Ваш регион Москва?</span>
                        <button class="select-region__text--button" style="width: 87px;height: 40px;">Да</button>
                        <button class="select-region__text--button" style="width: 278px;height: 40px;">Выбрать другой регион</button>
                    </div>
                    <div class="search-area">
                        <form class="search-form">
                            <input class='search' type="search" id="site-search" name="search" placeholder=" Начните вводить ИНН, ОГРН, название орагнизации иили ФИО руководителя">
                            <button type="submit" class="search-button"><span class="search-button--text">НАЙТИ</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cards">
        <div class="cards">
            <div class="card__about">
                <h3 class="card__about--title">О сервисе</h3>
                <div class="card__about--text">
                <span>
                    Проверьте, какие сведения о вашей компании или ИП доступны вашим партнерам, клиентам и конкурентам.
                    Редактировать можно следующую информацию об организации:
                </span>
                    <br>
                    Электронная почта
                    <br>
                    Телефон
                    <br>
                    Сайт
                    <br>
                    Документы: устав, прайс-листы, пресс-релизы и другие
                    <br>
                    Английское наименование
                    <br>
                    Логотип
                    <br>
                    После обновления сведений, мы проверим их на достоверность и опубликуем в течение 2 рабочих дней.
                    <br>
                </div>
            </div>
            <div class="card__confirm-data">
                <h3 class="card__confirm-data--title">Подтвердите данные своей организации!</h3>
                <div class="card__confirm-data--text">
                <span>
                    Сервис использует авторизацию пользователя по квалифицированному сертификату ключа проверки электронной подписи, 
                    выданному Удостоверяющим центром, аккредитованным в сети доверенных удостоверяющих центров Министерства связи и массовых 
                    коммуникаций России. 
                    Редактирование невозможно, если технические требования не выполнены или не пройдена проверка подлинности 
                    электронной подписи.
                </span>
                <br>
                <button class="card__confirm-button" type="submit">Внести данные</button>
            </div>
        </div>
    </section>
    <section id="footer">
        <footer class="footer">
            <span class='navbar-brand d-flex align-items-center navbar__logo' style="margin-left: 60px;">ЛОГО</span>
            <div class="text">
                <span style="color: #219653;">О сервисе</span>
                <span>Как мы определяем актуальность</span>
                <span>Источники данных</span>
                <span style="color: #219653;">Для организаций</span>
            </div>
        </footer>
    </section>
</body>
</html>