{% extends 'base.html' %}
{% block list %}Главная{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/select_city.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <section onload='GetUserLocation();'>
        <div class="region-area">
            <div class="region-area__text">
                <span class="region-area__title">Поиск лицензированных организаций в области проектирования</span>
                <br>
                <div class="region-area__select-region">
                    <form method='POST'>
                        {% csrf_token %}
                        <span class="select-region__text" id='test'>Ваш регион <span id='city'></span>?</span>
                        <button id='region' type='submit' name='region' class="select-region__text--button" value=''
                                style="width: 87px;height: 40px;">Да
                        </button>
                        <a class="select-region__text--button-region" style="color: #219653;" onClick='OpenSelectCityForm()'>Выбрать
                            другой регион</a>
                    </form>
                </div>
                <div id='city__search--container' class="city__search-area">
                    <div class='x-mark' onClick='CloseSelectCityForm()'>
                        <span style='cursor: pointer;'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </span>
                    </div>
                    <form class="city__search-form" method='GET'>
                        {% csrf_token %}
                        <input class='city__search input-select-city' type="search" id="city_search" name="city_search" placeholder="Город или регион">
                        <button type="submit" class="city__search-button"><span class="city__search-button--text">ВЫБРАТЬ</span></button>
                    </form>
                </div>
                <div class="search-area">
                    <form class="search-form" method='POST'>
                        {% csrf_token %}
                        <input class='input-select-city search' type="search" id="site-search" name="search"
                               placeholder=" Начните вводить ИНН, ОГРН, название орагнизации иили ФИО руководителя">
                        <button type="submit" class="search-button"><span class="search-button--text">НАЙТИ</span>
                        </button>
                        {% if messages %}
                            <div id='message' ;
                                 style='display: block; width: 300px; height: auto; border: 1px solid black; margin-left:400px; margin-top: 25px; background-color: lightgray;'>
                                <span class='x-button'
                                      style='display:block; cursor:pointer; width:5px; margin-left:280px;'
                                      onClick='Vanish()'>&#x2715</span>
                                {% for message in messages %}
                                    <span style='display:flex; margin-top:10px;'>{{ message }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
        <div class="cards mb-5">
            <div class="card__about">
                <h3 class="card__about--title">О сервисе</h3>
                <div class="card__about--text">
                <span>
                    Проверьте, какие сведения о вашей компании или ИП доступны вашим партнерам, клиентам и конкурентам.
                    Редактировать можно следующую информацию об организации:
                </span>
                    <br>
                    Электронная почта
                    <br>
                    Телефон
                    <br>
                    Сайт
                    <br>
                    Документы: устав, прайс-листы, пресс-релизы и другие
                    <br>
                    Английское наименование
                    <br>
                    Логотип
                    <br>
                    После обновления сведений, мы проверим их на достоверность и опубликуем в течение 2 рабочих дней.
                    <br>
                </div>
            </div>
            <div class="card__confirm-data">
                <h3 class="card__confirm-data--title">Подтвердите данные своей организации!</h3>
                <div class="card__confirm-data--text">
                <span>
                    Сервис использует авторизацию пользователя по квалифицированному сертификату ключа проверки электронной подписи,
                    выданному Удостоверяющим центром, аккредитованным в сети доверенных удостоверяющих центров Министерства связи и массовых
                    коммуникаций России.
                    Редактирование невозможно, если технические требования не выполнены или не пройдена проверка подлинности
                    электронной подписи.
                </span>
                    <br>
                    <button class="card__confirm-button" type="submit">Внести данные</button>
                </div>
            </div>
        </div>
    <script>
        $(function () {
            $("#city_search").autocomplete({
                source: '{% url 'geo_handbook:index' %}',
                minLength: 2
            });
        });
    </script>
    <script src="{% static "js/index.js" %}"></script>

{% endblock %}