{% extends 'base.html' %}
{% block list %}Карточки организаций{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/selected_region.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/select_city.css' %}">
    <div class="region-area">
        <div class="region-area__text">
            <span class="region-area__title">Поиск лицензированных организаций в области проектирования</span>
            <div class="region-area__selected-region">
                <span class="region" style="margin-right: 15px;"><img
                    src="https://img.icons8.com/ios/20/null/place-marker--v1.png" style="margin-right: 5px;">{{ region }}
                </span>
                <span style='cursor:pointer;' class="another-region" onClick='OpenSelectCityForm();'>Выбрать другой регион</span>
            </div>
            <div id='city__search--container' class="city__search-area">
                <div class='x-mark' onClick='CloseSelectCityForm()'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
                <form class="city__search-form" method='GET'>
                    {% csrf_token %}
                    <input class='city__search' type="search" id="city_search" name="city_search" placeholder="Город или регион">
                    <button type="submit" class="city__search-button"><span class="city__search-button--text">ВЫБРАТЬ</span></button>
                </form>
            </div>
            <div class="search-area">
                <form class="search-form" method='POST'>
                    {% csrf_token %}
                    <input class='search' type="search" id="site-search" name="search"
                           placeholder=" Начните вводить ИНН, ОГРН, название орагнизации иили ФИО руководителя">
                    <button type="submit" class="search-button"><span class="search-button--text">НАЙТИ</span>
                    </button>
                    {% if messages %}
                        <div id='message' ;
                             style='display: block; width: 300px; height: auto; border: 1px solid black; margin-left:400px; margin-top: 25px; background-color: lightgray;'>
                            <span class='x-button'
                                  style='display:block; cursor:pointer; width:5px; margin-left:280px;'
                                  onClick='Vanish()'>&#x2715</span>
                            {% for message in messages %}
                                <span style='display:flex; margin-top:10px;'>{{ message }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="request">
        <div class="request__data">
            <div class="request__data--text">
                <span>Ищите услуги проверенных компаний? Создайте задание и в 1 клик отправьте его лучшим компаниям региона. Получайте заявки и выбирайте лучшее предложение.</span>
            </div>
            <button onclick="location.href='{% url 'geo_handbook:application' %}'" class="request__data--button">Создать заявку</button>
        </div>
    </div>
    <div class="companys">
        <span class="companys--title">Лучшие компании региона</span>
        <br>
        <br>
        <div class="container overflow-hidden" style='width:1050px;'>
            <div class="row gx-5">
                {% for company in companys %}
                    <div class="col mb-5" onclick="location.href='{% url 'geo_handbook:card' company.id %}'" ;
                         style='cursor:pointer;'>
                        <div class="p-3 company-container">
                            <div class="company" style='height:80px;'>
                                <h4 style='width:auto'>{{ company.name }}</h4>
                                <div class="rating" style='width:120px;'>
                                    <div class="company__data--rating">
                                        <div class="rating__value hide">{{ company.rating|default:"4.5" }}</div>
                                        <span class="rating--title hide">Рейтинг</span>
                                    </div>
                                    <div class="rating__body">
                                        <div class="delim rating__active">
                                            <div class="rating__items">
                                                <div class="rating__item"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="company__data">
                                        <span class="company__address" style='display:block; width:100%; height:60px;'>
                                        <span class='company__data-text'>Юридический адрес: </span>{{ company.legal_address.postcode }}, {{ company.legal_address.city }}, {{ company.legal_address.street }} д.{{ company.legal_address.house_number }}</span>
                                <span class='company__data-text'>Виды работ: </span>
                                {% for work_type in company.work_types %}
                                    {{ work_type }} |
                                {% endfor %}
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <script>
        $(function () {
            $("#city_search").autocomplete({
                source: '{% url 'geo_handbook:index' %}',
                minLength: 2
            });
        });
    </script>
    <script src="{% static 'js/ratings.js' %}"></script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}