{% extends 'base.html' %}
{% block list %}Поиск{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/select_city.css' %}"/>
    <div class="search-area">
        <form class="search-form">
            <input class='search' type="search" id="site-search" name="search" placeholder="Город или регион">
            <button type="submit" class="search-button"><span class="search-button--text">ВЫБРАТЬ</span></button>
        </form>
    </div>
{% endblock %}