{% extends 'base.html' %}
{% block list %}Настройки профиля{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/settings_profile.css' %}"/>
    <section>
        <div class="card-menu">
            <div class="menu">
                <a href="{% url 'geo_handbook:profile' %}">Основные данные</a>
            </div>
            <div class="menu">
                <a href="{% url 'geo_handbook:settings_profile' %}"><span>Редактировать данные организации</span></a>
            </div>
            <div class="menu">
                <span><a href="{% url 'geo_handbook:settings_profile' %}"><span>Настройки профиля</span></a></span>
            </div>
        </div>
    </section>
    <section class="login-input">
        <form>
            <div class="mb-4">
                <input type="email" class="form-control-lg border rounded-0" id="exampleFormControlInput1"
                       placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control-lg border rounded-0" id="exampleFormControlTextarea1"
                       placeholder="Пароль"></input>
            </div>
            <button type="submit" class="btn">СОХРАНИТЬ</button>
        </form>
    </section>
{% endblock %}
