<div class="modal fade" id="add-contact_email-modal" tabindex="-1" role="dialog"
     aria-labelledby="add-contact_email-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-contact_email-modal-label">Добавить email компании</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Форма для добавления email -->
                <form id="add-contact_email-modal-form">
                    {% csrf_token %}

                    <label for="{{ add_contact_email_form.contact_email.id_for_label }}"
                           class="frame-text16">Email компании</label><br/>
                    <input type="text" class="frame-frame25" name="{{ add_contact_email_form.contact_email.name }}"
                           id="add_contact_email_form" value="{{ add_contact_email_form.contact_email.widget.attrs.value }}"><br/>
                    <div class="error-message" id="add-contact_email-contact_email-error"
                         style="display: none;">{{ add_contact_email_form.contact_email.errors }}</div>

                    <div>
                        <button type="submit" class="btn-send-ap">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>