<div class="modal fade" id="edit-employee-modal" tabindex="-1" role="dialog" aria-labelledby="edit-employee-modal-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-employee-modal-label">Редактировать сотрудника</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Форма для редактирования сотрудников компании -->
                <form id="edit-employee-modal-form">
                    {% csrf_token %}
                    <label for="{{ edit_employee_form.position.id_for_label }}" class="frame-text16">Должность
                        сотрудника</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.position.name }}" id="position"
                           value="{{ edit_employee_form.position.value }}"><br/>
                    <div class="error-message" id="edit-employee-position-error"
                         style="display: none;">{{ edit_employee_form.position.errors }}</div>

                    <label for="{{ edit_employee_form.surname.id_for_label }}" class="frame-text16">Фамилия</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.surname.name }}" id="surname"
                           value="{{ edit_employee_form.surname.value }}"><br/>
                    <div class="error-message" id="edit-employee-surname-error"
                         style="display: none;">{{ edit_employee_form.surname.errors }}</div>

                    <label for="{{ edit_employee_form.name.id_for_label }}" class="frame-text16">Имя</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.name.name }}" id="name"
                           value="{{ edit_employee_form.name.value }}"><br/>
                    <div class="error-message" id="edit-employee-name-error"
                         style="display: none;">{{ edit_employee_form.name.errors }}</div>

                    <label for="{{ edit_employee_form.father_name.id_for_label }}" class="frame-text16">Отчество</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.father_name.name }}"
                           id="father_name" value="{{ edit_employee_form.father_name.value }}"><br/>
                    <div class="error-message" id="edit-employee-father_name-error"
                         style="display: none;">{{ edit_employee_form.father_name.errors }}</div>

                    <label for="{{ edit_employee_form.phonenumber.id_for_label }}" class="frame-text16">Номер
                        телефона</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.phonenumber.name }}"
                           id="phonenumber" value="{{ edit_employee_form.phonenumber.value }}"><br/>
                    <div class="error-message" id="edit-employee-email-error"
                         style="display: none;">{{ edit_employee_form.phonenumber.errors }}</div>

                    <label for="{{ edit_employee_form.email.id_for_label }}" class="frame-text16">Электронная
                        почта</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_employee_form.email.name }}"
                           id="email" value="{{ edit_employee_form.email.value }}"><br/>
                    <div class="error-message" id="edit-employee-email-error"
                         style="display: none;">{{ edit_employee_form.email.errors }}</div>

                    <div>
                        <button type="submit" class="btn-send-ap">Сохранить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
