<div class="modal fade" id="edit-license-modal" tabindex="-1" role="dialog"
     aria-labelledby="edit-license-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-license-modal-label">Редактировать лицензию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Форма для редактирования лицензии -->
                <form id="edit-license-modal-form">
                    {% csrf_token %}

                    <label for="{{ edit_license_form.name.id_for_label }}" class="frame-text16">Название лицензии</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_license_form.name.name }}"
                           id="name"
                           value="{{ edit_license_form.name.value }}"><br/>
                    <div class="error-message" id="edit-license-name-error"
                         style="display: none;">{{ edit_license_form.name.errors }}</div>

                    <label for="{{ edit_license_form.license_date.id_for_label }}" class="frame-text16">Срок действия лицензии</label><br/>
                    <input type="date" class="frame-frame25" name="{{ edit_license_form.license_date.name }}"
                           id="license_date"
                           value="{{ edit_license_form.license_date.value }}"><br/>
                    <div class="error-message" id="edit-license-license_date-error"
                         style="display: none;">{{ edit_license_form.license_date.errors }}</div>

                    <label for="{{ edit_license_form.license_area.id_for_label }}" class="frame-text16">Область применения лицензии</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_license_form.license_area.name }}"
                           id="license_area"
                           value="{{ edit_license_form.license_area.value }}"><br/>
                    <div class="error-message" id="edit-license-license_area-error"
                         style="display: none;">{{ edit_license_form.license_area.errors }}</div>

                    <label for="{{ edit_license_form.license_organization.id_for_label }}" class="frame-text16">Организация выдавшая лицензию</label><br/>
                    <input type="text" class="frame-frame25" name="{{ edit_license_form.license_organization.name }}"
                           id="license_organization"
                           value="{{ edit_license_form.license_organization.value }}"><br/>
                    <div class="error-message" id="edit-license-license_organization-error"
                         style="display: none;">{{ edit_license_form.license_organization.errors }}</div>

                    <div>
                        <button type="submit" class="btn-send-ap">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>